[2020-02-19 19:06] diehlaws commented on #1967
Hi @rbro, thanks for reaching out to us. The behavior you describe is expected - per our S3 StreamWrapper's [documentation page](https://docs.aws.amazon.com/aws-sdk-php/v3/api/class-Aws.S3.StreamWrapper.html), write only streams will maintain a 'php://temp' stream to buffer data written to the stream until the stream is flushed (usually by closing the stream with fclose). This is because S3 requir

[2020-02-19 19:24] rbro commented on #1967
Hi @diehlaws - thanks, makes sense.  I normally call fclose() always.  I'm new to using aws-sdk-php and hadn't put in the fclose call in my test script, but just wasn't expecting an error like that where it seems more like a class was missing (I first checked to make sure that the php file for that class existed).

[2020-02-21 13:07] khizarbajwa007 commented on #1656
Created MediaLive input -> then MediaPackage Channel (Dash and Hsl) endpoint and lastly created Medialive channel

now I want to provide Dash and Hls to CloudFront but the documentation is not helping me out

[2020-02-22 22:23] artit91 commented on #1331
I can confirm, it still happens.

[2020-02-24 11:33] xialamp opened #1969 "How to connect MongoDB srv？"
How to use srv to connect to mogodb in thinkphp6？What should be filled in the database address？

[2020-02-25 10:33] #1953 closed

[2020-02-26 04:51] diehlaws commented on #1969
Hi @xialamp, thanks for reaching out to us. Unfortunately I'm not familiar with thinkphp6 or how it relates to the AWS SDK for PHP.

That being said, you should be able to retrieve the cluster endpoint and reader endpoint for a DocumentDB cluster using a [`describeDBClusters`](https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-docdb-2014-10-31.html#describedbclusters) call as shown in the example

[2020-02-26 08:34] coinbreze opened #1970 "How to change ACl ?"
Hi,
  I need to change the ACL for my existing files.
  How to update the existing files public- read acl to private ?

[2020-02-26 17:24] Pi-George commented on #1920
Why is this closed, this still seems to be an issue. Your steps are very helpful @mdeering24 but this should be working without having to make these convoluted steps.

[2020-02-27 11:45] Pi-George commented on #1920
Turns out that those steps don't work anyway, I believe it's simply due to the fact that /root/.profile won't be run when apache2 fires off against php-fpm.

[2020-02-27 11:52] Pi-George commented on #1920
Looks like things were moved to https://github.com/aws/aws-sdk-php-laravel/issues/176

[2020-02-27 14:20] Pi-George commented on #1920
I ended up putting this in my entrypoint, super hacky

[code]

[2020-02-27 14:57] Pi-George opened #1971 "EcsCredentialProvider doesn't work for php-fpm due to missing relative uri env variable"
https://github.com/aws/aws-sdk-php/blob/master/src/Credentials/EcsCredentialProvider.php

Environment variable doesn't exist in php-fpm runtime $AWS_CONTAINER_CREDENTIALS_RELATIVE_URI

This issue is a clone of this closed issue, however the issue shouldn't of been closed so I'm making this one https://github.com/aws/aws-sdk-php/issues/1920

This code in your entrypoint file before starting php-fpm

[2020-02-27 16:43] marcelosboeira opened #1972 "Route53 checkDomainAvailability don´t work...."
Hello everyone,
I'm trying to use checkDomainAvailability  "https://docs.aws.amazon.com/aws-sdk-php/v3/api/class-Aws.Route53.Route53Client.html" but it doesn't work.

My code is...

[code]

*And the result is:*
`Error executing "CheckDomainAvailability" on "https://route53domains.us-east-2.amazonaws.com"; AWS HTTP error: cURL error 6: Could not resolve host: route53domains.us-east-2.amazonaws.com

[2020-02-27 18:07] marcelosboeira commented on #1972
I found the problem .... these services only work with the us-east-1 region..
So the code is:
$gRoute53Domains = Route53DomainsClient::factory(array(
	'region'      => 'us-east-1',
	'version'     => '2014-05-15',
    'credentials' => $credentials
));

[2020-02-27 21:52] diehlaws commented on #1970
Hi @coinbreze, thanks for reaching out to us. You can update the ACL for an object using the [`PutObjectAcl`](https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-s3-2006-03-01.html#putobjectacl) call with the appropriate 'ACL' parameter. Please don't hesitate to reach back out if you need assistance with this call.

[2020-02-27 21:59] diehlaws commented on #1972
Hi @marcelosboeira, thanks for reaching out to us. Per the [Amazon Route 53 Endpoints and Quotas](https://docs.aws.amazon.com/general/latest/gr/r53.html) documentation page, the only available endpoint for a `Route53DomainsClient` is in us-east-1. Calls for the `Route53Client` and `Route53ResolverClient` can be made to the AWS regions mentioned in the link above.

[2020-02-28 13:48] KahkashanT commented on #1091
Hi,
I am also getting same issue and using aws/aws-sdk-php-laravel": "^3.3"
"AWS HTTP error: Error creating resource: [message] fopen(): SSL: Handshake timed out [file]"
Can you please give some inputs to fix this issue?

[2020-02-28 14:00] russellanam commented on #1091
I never found any solution to this and this is still happening. I simply catch and retry and it usually works. I think these are unavoidable AWS temporary network issues.

[2020-02-28 16:42] FreelanceWebNinja opened #1973 "CreateInvalidation Error"
Suddenly getting odd error. Literally no code or keys have changed. Using version: latest.

Error executing "CreateInvalidation" on "https://cloudfront.amazonaws.com/2019-03-26/distribution/XXX/invalidation"; AWS HTTP error: Client error: `POST https://cloudfront.amazonaws.com/2019-03-26/distribution/XXX/invalidation` resulted in a `400 Bad Request` response: Sender< (truncated...) MalformedXML (c

[2020-02-28 18:42] diehlaws commented on #1973
Hi @FreelanceWebNinja, thanks for reaching out to us. Aside from documentation updates, changes to the CloudFront client for the AWS SDK for PHP in 2019 and 2020 have been minimal. Have you recently updated your version of the SDK? Which version did you update from?

Please fill out the issue template so we can better assist with this. Seeing a code snippet showing how the input parameters for you

[2020-03-02 13:21] Priyankaac209 opened #1975 "SSL: Handshake timed out"
Hi,

We are using "aws/aws-sdk-php-laravel": "^3.3".
We are calling aws sqs service.
Randomly once in hour we are getting below error.
"AWS HTTP error: Error creating resource: [message] fopen(): SSL: Handshake timed out [file]"...cntd

Can you please help us in fixing this issue?

[2020-03-02 18:24] #1972 closed

[2020-03-03 01:25] monaye opened #1976 "access denied on assumeRole with MFA enabled user"
Please fill out the sections below to help us address your issue.

### Version of AWS SDK for PHP?
3.133

### Version of PHP (`php -v`)?
PHP 7.2.20

### What issue did you see?
I have a following simple code trying to get the session, but it returns the access denied error. I have double-checked that the user has permission to perform the assume role. What is causing the access denied is very uncl

[2020-03-04 01:29] diehlaws commented on #1976
Hi @monaye, thanks for reaching out to us. Unfortunately it is not possible to obtain a session token using session-based credentials - this applies to all AWS SDKs as well as the AWS CLI. Attempting to issue a `GetSessionToken` call with the AWS CLI (as well as the AWS SDK for Go and boto3) returns the error `AccessDenied: Cannot call GetSessionToken with session credentials` from STS. By contras

[2020-03-04 15:02] stof commented on #808
Installing the SDK currently takes 33MB on disk (as reported by `du -h -d 1 vendor/aws/aws-sdk-php |sort -h`) and keeps increasing (I just upgraded from 3.133.6 to 3.133.28 and it was only 32MB before). Among this, 22MB come from the `src/data` folder containing API descriptions for each service. If I use only S3, I only need 220KB from this folder

Such huge package size is a drawback in any plac

[2020-03-04 20:55] jkdilunika commented on #1612
@diehlaws  This is 2020 and still reproducible. I reproduced this using Java SDK and Node SDK (SQS). My initial secret key had '/'. If AWS has no plan to fix this issue in their core, the best solution is not to generate secret keys with '/'. It will save lots of developer's time.

[2020-03-04 21:57] #1969 closed

[2020-03-04 21:57] #1970 closed

[2020-03-05 15:56] chippyash commented on #808
@stof Do you know if that data directory is required to actually run the library in production, or just there as another documentation and/or test aide for AWS?  If not required, I can add it to my ignore list when building packages.

[2020-03-05 16:33] stof commented on #808
@chippyash it is also used by the Client class to know which endpoints are available in each service and what are the expected arguments for each of them.

[2020-03-06 07:20] chippyash commented on #808
@stof

That's a shame.

[2020-03-06 13:27] vivekpipaliya opened #1979 "Need method to generate SRP_A for authflow USER_SRP_AUTH for InitiateAuth."
### Is this related to a problem?
I want to use USER_SRP_AUTH for InitiateAuth in my application to log the user's device info into Cognito. But I need to pass "SRP_A" as AuthParameters in the request. And we don't have any method in SDK to generate "SRP_A" in the **current** SDK.

### Feature description
It is better if we have the method to generate "SRP_A" in SDK so we can generate it easily.

[2020-03-07 04:21] iiLearner opened #1980 "File not found.."
Please fill out the sections below to help us address your issue.

### Version of AWS SDK for PHP?
latest

### Version of PHP (`php -v`)?
7.1.32

### What issue did you see?
Hey, so basically I just started using aws sdk to upload files to amazon S3 so I grabbed sample code just to test but apparently even that does not work...bellow's the code:
[code]

I'm getting this:

[2020-03-09 09:12] carlo-fontanos opened #1981 "PHP Warning: session_set_save_handler(): Cannot change save handler when session is active"
Hi,

I just installed the SDK v3 and attempted to setup the DynamoDB Session Handler as seen bellow:

[code]

But I am getting the following error:

[code]

I am using PHP 7.4

How do I fix this error please?

Thanks,
Carl

[2020-03-09 21:16] esetnik commented on #1646
@diehlaws @ricardofiorani Can you provide a code sample showing how to call `tick()` with this service. I faced the same issue and haven't found a complete solution.

[2020-03-09 22:42] diehlaws commented on #1980
Hi @iiLearner, thanks for reaching out to us. This sounds like an issue with the packages required via composer. The file `add_bucket_acl.php` mentioned in the error does not exist within the AWS SDK for PHP, you'll need to determine where this file is coming from. Reviewing the packages listed in `composer.json` in the directory above your `vendor` directory is a good place to start.

If you're j

[2020-03-10 09:40] ricardofiorani commented on #1646
@esetnik

As I mentioned, you have to manually call the method `wait` from the promise. This will cause the CURL (or whatever adapter you use) to tick.

If you want to call it directly from your CURL Handler, then here there is a few examples https://github.com/guzzle/guzzle/issues/1127

[2020-03-10 15:36] adam-ut opened #1982 "Upload to S3 using Aws\S3\Transfer not uploading properly"
Please fill out the sections below to help us address your issue.

### Version of AWS SDK for PHP?
3.133

### Version of PHP (`php -v`)?
7.0.33

### What issue did you see?
I'm passing an iterator, GlobIterator, to Aws\S3\Transfer, so I'm only uploading compressed files to the S3 bucket. Files appear in the S3 folder with the correct name, however the content is the full path name of the file rath

[2020-03-11 15:16] ingluisjimenez opened #1983 "S3EncryptionClient breaking in PHP >= 7.4.2 due to EncryptionTrait and AbstractCryptoClient class defining same method with different visibility"
Please fill out the sections below to help us address your issue.

### Version of AWS SDK for PHP?
3.133.33

### Version of PHP (`php -v`)?
7.4.3, 7.4.2

### What issue did you see?
`PHP Fatal error:  Access level to Aws\Crypto\EncryptionTrait::encrypt() must be public (as in class Aws\Crypto\AbstractCryptoClient) in vendor/aws/aws-sdk-php/src/S3/Crypto/S3EncryptionClient.php on line 51`

### Step

[2020-03-12 05:21] carlo-fontanos commented on #1981
Any update on this please?

[2020-03-12 13:25] vivekpipaliya commented on #1979
Any response on this?

[2020-03-13 02:30] jradtilbrook opened #1985 "Use late static binding for credential resolution"
### Is this related to a problem?
I use this package through the [Laravel extension](https://github.com/aws/aws-sdk-php-laravel). However, when caching configuration, Laravel empties the environment variables so `getenv()` and `$_ENV` returns null or contains nothing.

### Feature description
As such, I would like to extend the CredentialProvider to use [late static binding](https://www.php.net/ma

[2020-03-14 00:56] diehlaws commented on #1982
Hi @adam-ut, thanks for reaching out to us about this. Unfortunately I'm not able to reproduce the behavior you describe, gzipping text files and uploading them using your code snippet, then downloading them to a different directory they appear to behave as gzip files, and unzipping them then reading the contents returns the same text `echo`'d into the source files before they were zipped.

[code]

[2020-03-14 01:04] diehlaws commented on #1983
Hi @ingluisjimenez, thanks for bringing this to our attention. I've marked this as a bug, it seems like PR #1984 should fix this so we'll work toward merging this in as appropriate.

[2020-03-16 23:07] diehlaws commented on #1985
Hi @jradtilbrook, thanks for reaching out to us about this. Unfortunately there was a [bug](https://bugs.php.net/bug.php?id=66622) relating to late static bindings that was fixed in PHP version [5.5.14](https://3v4l.org/lk4i0#v5514), however the current major version of the AWS SDK for PHP must maintain compatibility with PHP version 5.5.0 and up.

If this can be implemented in a manner that is no

[2020-03-17 00:11] jradtilbrook commented on #1985
Thanks, @diehlaws that's good to know. I'll look into other ways to achieve this and get back to you

[2020-03-17 23:50] #1980 closed

[2020-03-18 00:08] treyseals commented on #1973
I'm confused. You closed the issue before I could reply?

[2020-03-18 00:55] diehlaws commented on #1973
@treyseals We typically close issues after 11 days of inactivity in order to prevent inactive issues from building up in the repository. Unfortunately the information provided is not sufficient for us to troubleshoot the behavior you're seeing. Please provide the information requested above so that we may assist you with the error you're receiving from the AWS SDK for PHP.

[2020-03-19 15:49] Kuijkens commented on #1908
Can I please remind that this issue (I'm really considering this to be a bug) is preventing us from updating to PHP 7.4 since that's only possible using aws-sdk-php version 3.128.0 or higher.

Currently PHP version 7.4.4 is already released and we are still stuck at 7.3.x

[2020-03-20 18:19] ktecho opened #1987 "Provide ordering (query?) features to describeImages"
I would like to use the SDK to ask for all the AMIs that starts with a name (I can already do that) but ordered by CreationDate, the same as you can do with the command line SDK:

[https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html)

(search for "Example: Find the current Red Hat Enterprise Linux 7.5 AMI"

[2020-03-20 20:21] diehlaws commented on #1987
Hi @ktecho, thanks for reaching out to us. The [`query` option](https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-output.html#cli-usage-output-filter) for the AWS CLI uses [JMESPath](https://jmespath.org/) to extract elements from the service's response according to the expression used. The same expressions can be used with the `search()` method on the response to a service call as shown

[2020-03-21 09:37] ktecho commented on #1987
@diehlaws Works great. Didn't knew that JMESPath stuff. Thanks!

[2020-03-21 09:37] #1987 closed

[2020-03-29 13:33] khanof89 opened #1989 "S3 billing went to the sky all of a sudden"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-04-01 09:34] magnetik commented on #1971
Thanks a lot for the pointer.
I've added:

`echo "env[AWS_CONTAINER_CREDENTIALS_RELATIVE_URI] = $(strings /proc/1/environ | grep AWS_CONTAINER_CREDENTIALS_RELATIVE_URI | cut -d = -f2 )" >> /usr/local/etc/php-fpm.d/www.conf`

to my docker entrypoint 👍

[2020-04-01 09:43] Shardj commented on #1971
I've since improved mine, if you're using ubuntu or another OS that has /etc/environment then you can do

[code]

As long as your php-fpm pool has `clear_env = no` and as long as you start php-fpm with `/etc/init.d/php7.2-fpm start` and not `service php7.2-fpm start`. No idea why service doesn't work and init.d does, but it is how it is.

[2020-04-01 20:26] diehlaws commented on #1989
Hi @khanof89, thanks for reaching out to us. Looking at our [changelog](https://github.com/aws/aws-sdk-php/blob/master/CHANGELOG.md) the most recent change relating to S3 (on March 16th) was to implement support for tagging Batch Operations jobs for S3Control, which should not have affected standard S3 operations such as `listObjects` or `listObjectsV2`. The AWS SDK for PHP should not be issuing a

[2020-04-01 20:35] #1976 closed

[2020-04-01 20:36] diehlaws commented on #1973
@FreelanceWebNinja please provide the requested information to prevent the issue from closing once again due to inactivity.

[2020-04-01 20:51] khanof89 commented on #1989
@diehlaws thank you for the response, I was not able to get to a definitive answer for what was causing the issue, the access log were not of much help because they were behind, the log created right now was of 90 minutes ago(may be because of so many requests that my app was sending) so I end up removing aws sdk from my code base and now the everyday bill is under control

[2020-04-02 17:11] #1989 closed

[2020-04-03 11:06] franksl opened #1990 "PHP notice on RetryMiddleware after update to 3.134.2"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-04-03 22:16] diehlaws commented on #1990
Hi @franksl, thanks for reaching out to us. Unfortunately I haven't been able to reproduce this on my end with a `PutObject` call that only includes `Body`, `Bucket`, and `Key` in the input parameters.

Do you see this notice on every `PutObject` call issued via the SDK since it was updated to 3.134.2? Or does it only occur on certain `PutObject` calls?  If it is the latter, can you share the inpu

[2020-04-04 02:09] heathera2016 opened #1991 "The difference between uploadDirectory() method and transfer() method"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-04-04 02:19] heathera2016 commented on #1991
I found the code. It uses transfer class both, so it's same :)

[2020-04-04 22:19] esetnik commented on #1646
@ricardofiorani do you have a complete code sample? I wasn't able to make it work using the curl handler approach you linked. I'm looking for a fire and forget request that doesn't block my php application at all. I'm seeing regular performance issues with the `putMetricData` apis which routinely take >1s to respond in approximately 0.1% of my requests and AWS is insistent that there is no problem

[2020-04-07 10:57] franksl commented on #1990
Hi,
Sorry for the delay,
Looks like today I'm unable to reproduce the issue, I assume there were some kind of network problems at the time but I don't know  when the RetryMiddleware gets triggered.
Sorry, I think the issue can be closed, I'll get back if I'll encounter the problem again,
Thanks,
Frank

[2020-04-07 22:08] diehlaws commented on #1990
Thanks for the additional information @franksl, I'm glad to hear this isn't consistent behavior. I'll go ahead and close the issue for now, if you see this come up again please do update the issue so we can re-open it and continue working with you on this.

[2020-04-07 22:08] #1990 closed

[2020-04-08 19:06] diehlaws commented on #1991
Hi @heathera2016, thanks for reaching out to us. As you noted, the `transfer()` method of the SDK's [S3 Transfer Manager](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/s3-transfer.html) effectively does the same as the `uploadDirectory()` method of the SDK's [S3 Client Interface](https://docs.aws.amazon.com/aws-sdk-php/v3/api/class-Aws.S3.S3ClientInterface.html#), the primary differen

[2020-04-09 05:17] heathera2016 commented on #1991
@diehlaws Thank you so much your reply. It's out of topic, however, I would like to know the difference between s3:// URI path and sepcifying the Bucket and Key parameters for the request. I'm searching a lot regarding s3:// protocol, but I couldn't find the exact principle. Before I use the methods(Putobject) or S3:// protocol, I would like to know the difference and principle. Could you explain

[2020-04-09 21:41] diehlaws commented on #1991
No problem @heathera2016! Requests that use `s3://` URI paths do not use a different protocol than standard `PutObject` requests - both are sent to S3 over HTTP/S. The PHP SDK's S3 Transfer Manager and [S3 Stream Wrapper](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/s3-stream-wrapper.html) parse `s3://` URIs so that the target bucket and key can be provided as a single string without

[2020-04-09 23:12] heathera2016 commented on #1991
@diehlaws Many many thanks for your explanation. It helps a lot!! :D Have a good one!! :)

Sincerely,
Heathera

[2020-04-10 01:17] diehlaws commented on #1973
Hi @FreelanceWebNinja @treyseals, due to inactivity on the issue I'll be closing this out once again. Once you have a chance to collect the information requested above please open a new issue with this information in the initial post so we can assist you with the behavior you're seeing with the SDK's CloudFront client.

[2020-04-10 01:17] #1973 closed

[2020-04-12 21:08] yosun opened #1992 "Polly - Neural voices are not returned for PHP SDK"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-04-14 20:37] #1991 closed

[2020-04-16 09:57] sijoph commented on #1686
@diehlaws
 Can you please help me with, how to write a query like sql in dynamoDB. I want search 'cities' from a cities table having country,cityname,type.  The cityname is searchable like 'houston' or 'illinois' etc. I need the result from the dynamoDb, mysql conditions given below:
"((city=US AND type=Seller) AND ( cityname LIKE "%houst%" OR cityname LIKE '%illio%' ))  "
Please give me a solutio

[2020-04-16 10:19] sijoph opened #1993 "Help for Multiple 'AND' , 'OR' ConditionalOperator in a DynamoDB getIterator('Scan')"
Please Help :

AWS SDK Version 2.8
PHP version 5.4

How to write a program with  multiple keyword search with DynamoDB - PHP :

 $cityIterator = $this->dynamoDbClient->getIterator('Scan', array(
				'TableName' => $tableName,
				"AttributesToGet" => array( "id","name","region"),
				"ConsistentRead" => true,
				'ScanFilter' => array(
					'account_type' => array(
						'AttributeValueList' => ar

[2020-04-20 19:43] techdaddies-kevin commented on #1967
Thank you @rbro for posting this. I was tearing my hair out over here trying to figure out why I was getting such an odd error message, and indeed, it's because I had forgotten to close the file handler.

[2020-04-20 21:08] diehlaws commented on #1992
Hi @yosun, thanks for reaching out to us about this. I've tried reproducing the described behavior on the AWS SDKs for PHP, Go, and Python, as well as using the Polly web console. While the differences in inflection between the standard and neural engines are minimal when using Brian as the `VoiceId`, they do not sound identical. Using Kimberly as the `VoiceId` shows a more obvious difference betw

[2020-04-20 23:56] yosun commented on #1992
Can you include the exact parameters of the call you are sending?

Can you also try applying the conversational tag? It generates an error when called using the PHP SDK.

https://docs.aws.amazon.com/polly/latest/dg/supportedtags.html#conversational-tag

[2020-04-20 23:57] diehlaws commented on #1981
Hi @carlo-fontanos, thanks for reaching out to us about this and I do apologize for the long delay in response on our end. When reproducing this, I saw similar warnings if I included any echo statements in the script used to test this. After removing these echo statements the following snippet worked as expected, and I was able to see the changes to the session in the DynamoDB table being used for

[2020-04-21 19:28] diehlaws commented on #1992
@yosun Here's the code I'm using to test the different voices and engines.

[code]

I'll test changing the `TextType` to `ssml` to apply the conversational tag and will update the issue with my results. What is the error you're receiving when applying this tag to the text used for this call?

[2020-04-21 21:03] diehlaws commented on #1947
Hi @ondrejmirtes, thanks for reaching out about this and apologies for the long delay in response on our end. We have a task to investigate the implementation of a single configuration option that would prevent the SDK from reading the shared configuration file altogether. Once we have additional information on this we'll update the issue accordingly.

In the meantime, in addition to `s3_us_east_1

[2020-04-21 21:36] diehlaws commented on #1992
@yosun I was able to receive a successful response with the expected audio output when using `'TextType' => 'ssml'` along with the sample text shown in the documentation page you linked. As noted in that page, only the Matthew and Joanna voices currently support this tag. Following are the parameters I used that resulted in a successful speech synthesis.

[code]

[2020-04-21 21:39] diehlaws commented on #1983
As the fix for this was implemented in version 3.133.38 I'll be closing out the issue. Please do let us know if you continue running into this behavior.

[2020-04-21 21:39] #1983 closed

[2020-04-21 22:04] aalvarezcoco opened #1999 "New new ChimeClient"
Confirm by changing [ ] to [x] below:
- [ ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-04-21 23:06] yosun commented on #1992
So I tried your exact code (and also set version to latest - although afaik there is only the 2016-06-10 version?) and somehow I still get this error:

`
Error executing "SynthesizeSpeech" on "https://polly.us-east-1.amazonaws.com/v1/speech"; AWS HTTP error: Client error: `POST https://polly.us-east-1.amazonaws.com/v1/speech` resulted in a `400 Bad Request` response: {"message":"This voice does no

[2020-04-21 23:11] diehlaws commented on #1999
Hi @aalvarezcoco, thanks for reaching out to us. Where do you see API version `2006-03-01` published for the Amazon Chime API? From what I can see the only service that uses that particular API version is S3. Looking at the [ChimeClient](https://docs.aws.amazon.com/aws-sdk-php/v3/api/class-Aws.Chime.ChimeClient.html) page of the documentation for the AWS SDK for PHP I only see version `2018-05-01`

[2020-04-21 23:11] yosun commented on #1992
`Stack trace: #0 /home/vendor/guzzlehttp/guzzle/src/Middleware.php(66): GuzzleHttp\Exception\RequestException::create(Object(Gu in /home/vendor/aws/aws-sdk-php/src/WrappedHttpHandler.php on line 191`

[2020-04-21 23:19] yosun commented on #1992
Am I just using the wrong version? Everything works when I set the engine to standard and remove the conversation tags...

 Which version of the SDK are you using - and also which version of the polly API are you using?

[2020-04-21 23:32] diehlaws commented on #1992
@yosun My apologies, it seems like the discrepancy in behavior here comes down to the different versions of the SDK being used. After downgrading my version of the SDK from 3.134.2 to 3.91.4 I'm getting the same validation exception (`{"message":"This voice does not support one of the used SSML features"}`) when executing the above snippet. To address your question, the Polly API currently has onl

[2020-04-22 00:44] diehlaws commented on #1993
Hi @sijoph, thanks for reaching out to us. While I understand the level of urgency of your request, and I sympathize with the situation in which you find yourself, unfortunately a request of this nature falls beyond the scope of support for the AWS SDKs.

While I'm happy to provide guidance with questions that specifically address how to use the SDK in a given manner, translating a MySQL query to

[2020-04-22 00:44] #1993 closed

[2020-04-22 14:02] aalvarezcoco commented on #1999
I have a concern for the administration of user rooms and other things that service chime gives me, can I use the sdk php version 2018-05-01 or must I necessarily use amazon-chime-sdk-js javascript

[2020-04-22 14:59] aalvarezcoco commented on #1100
I am trying to create a user in for amazon chime and I get Error executing "CreateUser" on "https://service.chime.aws.amazon.com/accounts/355110919357/users?operation=create"; AWS HTTP error: Client error: `POST https://service.chime.aws.amazon.com/accounts/355110919357/users?operation=create` resulted in a `400 Bad Request` response: ◀
    {"Code":"BadRequest","Message":"Service received a bad re

[2020-04-22 21:21] diehlaws commented on #1999
@aalvarezcoco Please keep in mind that the API version used for a given service client is not equivalent to the version of the AWS SDK for PHP used within your application. I see you commented on #1100 regarding a `BadRequest` error you received trying to issue a `CreateUser` call, however that issue covers a different behavior (attempting to reach the service via http as opposed to https) so that

[2020-04-23 05:24] asiby commented on #1308
We are getting the same error and this doesn't work in my case where we don't have any AWS credentials present inside of the host. We have simply assigned it an instance role ... and we keep getting this error message.

[2020-04-24 14:08] sdrenth commented on #1979
@vivekpipaliya Do you know how the SRP_A value can be generated by yourself?

[2020-04-24 15:35] vivekpipaliya commented on #1979
@sdrenth No, I don't know that. Let me know if you know that I am still finding the solution for it.

[2020-04-27 12:28] shouze commented on #1968
Yes please, moreover guzzle is a pretty heavy http client and they've been BC break a lot over years. Would be a good thing to mover over. The most important part to be discussed here is probably the way to remove guzzle while trying to not be BC break into the SDK.

I can contribute if you need some help.

[2020-04-27 13:32] Nemo64 commented on #1968
There is another problem. This sdk is build around guzzle promises. Every method has an async variant. Removing guzzle would probably mean to remove the promises as well.

The symfony http client has an interesting way handling async [which is exploited by the async-aws project](https://async-aws.com/features/async.html) but that would probably be a hard dependency again.

[2020-04-28 06:10] sdrenth commented on #1979
@vivekpipaliya I'm not able yet to connect using initiateAuth, but I believe that might have a different cause. I keep receiving this error:

I believe this might work, but due to the error above I'm not sure if this works or not:

**SRP flow scheme:**
https://code.falk-m.de/srp/

**Source code:**
https://github.com/falkmueller/srp/

Please let me know if that works for you.

[2020-04-28 06:15] vivekpipaliya commented on #1979
Thanks for that... I will try to generate SRP_A using this library and let you know if it works.

[2020-04-28 07:16] nityaskashyap commented on #1553
The S3 restricts the file deletion 1000 per DeleteObjectsRequest. Hence after fetching all KeyVersions List, I gave the check  if the keys are >1000, then partition the list into sublists and then pass it to the DeleteObjectsRequest with sublists as below-

if(keys.size()>1000) {
				int count=0;
				List<List<KeyVersion>> partition = ListUtils.partition(keys, 1000);
				 for (List<KeyVersion> lis

[2020-04-28 09:01] sdrenth commented on #1979
@vivekpipaliya The initiateAuth method is working for me now:
[code]

Currently I'm struggling to find out how I should implement the `respondToAuthChallenge`. I'll let you know if I've found out how that should be done.

[2020-04-28 11:17] vivekpipaliya commented on #1979
What is the "[ChallengeName](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_RespondToAuthChallenge.html#CognitoUserPools-RespondToAuthChallenge-request-ChallengeName)" you are receiving in the response of initiateAuth method?

[2020-04-28 11:24] sdrenth commented on #1979
@vivekpipaliya PASSWORD_VERIFIER is the challenge name I received and believe that that is correct.

I'm currently stuck at the PASSWORD_CLAIM_SIGNATURE parameter in the respondToAuthChallenge.

[2020-04-28 11:28] vivekpipaliya commented on #1979
What did you pass for TIMESTAMP?

[2020-04-28 11:43] vivekpipaliya commented on #1979
I am on the same stage and getting this error.
Unable to verify secret hash for client xxxxxxxx

[2020-04-28 11:54] vivekpipaliya commented on #1979
@sdrenth I am getting **Unable to verify secret hash for client xxxxxxxx** on respondToAuthChallenge request.

[2020-04-28 12:03] sdrenth commented on #1979
@vivekpipaliya This is what I used for the date:
```$date = date('D M d H:i:s T Y');```

I'm using the code below for the respondToAuthChallenge method:
[code]
This gives me this error:

This will probably because because my PASSWORD_CLAIM_SIGNATURE is incorrect, I haven't really found out what this key should contain as a value.

[2020-04-28 12:23] vivekpipaliya commented on #1979
Maybe you can take help of this Java code to generate PASSWORD_CLAIM_SIGNATURE

https://github.com/aws-samples/aws-cognito-java-desktop-app/blob/master/src/main/java/com/amazonaws/sample/cognitoui/AuthenticationHelper.java#L266

[2020-04-29 05:12] vivekpipaliya commented on #1979
@sdrenth Did you find any solution to generate PASSWORD_CLAIM_SIGNATURE? We are both on the same page.

[2020-04-29 06:00] sdrenth commented on #1979
@vivekpipaliya Unfortunately not yet

[2020-04-29 09:35] sdrenth commented on #1979
@vivekpipaliya Thank you for creating the thread on Amazon Forums, I was just going to do that when I noticed your thread. If anyone else is interested in this, the thread is found here:
https://forums.aws.amazon.com/thread.jspa?threadID=321244&tstart=0

[2020-04-29 09:42] vivekpipaliya commented on #1979
@sdrenth I am trying to use USER_SRP_AUTH to remember devices functionality. Is there any reason you are using USER_SRP_AUTH? If you just want to login user then you can use adminInitiateAuth with ADMIN_NO_SRP_AUTH

[2020-04-29 09:54] sdrenth commented on #1979
@vivekpipaliya It's a requirement from the client that I implement the `initiateAuth` method, according to them the adminInitiateAuth` method is not an option. Also they've implemented it for Java/Python before and are helping me as well.

I'm unable to find any documentation about how to generate the PASSWORD_CLAIM_SIGNATURE.

[2020-04-29 10:02] vivekpipaliya commented on #1979
@sdrenth You can move to the bottom of the page from below link and check this thing if that helps you to generate PASSWORD_CLAIM_SIGNATURE.

[https://aws.amazon.com/premiumsupport/knowledge-center/cognito-user-pool-remembered-devices/](https://aws.amazon.com/premiumsupport/knowledge-center/cognito-user-pool-remembered-devices/
)

![image](https://user-images.githubusercontent.com/60814309/8058379

[2020-04-29 13:39] durzo opened #2004 "How to specify ACL using streamwrapper with copy()"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS SDK for PHP?**
v3.133.26

**Version of

[2020-04-29 14:01] durzo commented on #2004
Figured it out..

[code]

[2020-04-29 14:01] #2004 closed

[2020-04-29 15:18] sdrenth commented on #1979
@vivekpipaliya I think it would need to be something like this (untested):
SHA256_HMAC(K_USER, USERPOOL_ID (without region) + USERID_FOR_SRP + base64 decoded PASSWORD_CLAIM_SECRET_BLOCK + TIMESTAMP), base64-encoded

[2020-05-01 05:00] vivekpipaliya commented on #1979
Hi, @sdrenth Did you found any solution?

[2020-05-01 06:00] sdrenth commented on #1979
@vivekpipaliya I haven't had any time yet to test the value of my previous comment yet.

[2020-05-04 17:44] #1999 closed

[2020-05-04 17:44] #1992 closed

[2020-05-04 17:44] #1981 closed

[2020-05-05 04:31] diehlaws commented on #1967
Thanks for the additional information @rbro, and I do apologize for the long delay in response on our end. While it will be difficult to find a way to have the SDK determine whether a file's stream within the S3 Stream Wrapper is flushed/closed before the script finishes running, we've added a backlog item to investigate whether we can find a way to improve the error handling for this behavior.

[2020-05-05 20:38] adam-ut commented on #1982
@diehlaws : I apologize for my lack of response. I was requested to focus on something else. However, I would like to revisit this. Can the issue be re-opened or would I need to open a new ticket?

[2020-05-05 21:06] diehlaws commented on #1982
@adam-ut No worries, we can re-open this issue and continue working on this here. Please let me know the information requested in my previous response along with any additional context that would help us better reproduce this behavior.

[2020-05-05 21:37] adam-ut commented on #1982
Thank you, @diehlaws! I've updated to 3.137.3 of the framework and tested using PHP 7.0 (vm) and PHP 7.0 and 7.4 (docker) which is yielding the same results.

Each file is over 100MB, but the files that appear in the target bucket (using the UI) are less than 100B.

When calling objectHead, I get the following details:

"ContentType": "application/octet-stream"

however, calling file --mime-type -

[2020-05-10 06:08] nvcken opened #2005 "How to get configuration value in the AWS config file."
Likes CLI built-in supported
`aws configure get role_arn --profile=abc`

My ~/.aws/config
[code]
Because I want to get the `role_arn` and `role_session_name` in config file for `assumeRole` call
[code]

[2020-05-10 10:43] LiamDawe opened #2006 "guzzle version wrong? undefined function"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-05-10 18:49] Nyholm commented on #2006
Hey. Guzzle maintainer here.

The problem is that you have two different guzzle versions installed and loaded.

This error is fixed if you update one of them to 6.5.3.

[2020-05-10 18:52] LiamDawe commented on #2006
Nothing else in my project uses Guzzle.

[2020-05-10 18:54] Nyholm commented on #2006
That is not what I said.

I said that you have two version of Guzzle loaded in your PHP runtime at the same time. That is why you are getting the error.

---

Also, did you try my solution?

[2020-05-10 18:58] LiamDawe commented on #2006
Apologies, it wasn't overly clear you meant loaded into PHP and not the project I am on.

Yes, doesn't work. 6.3.3 does.

[2020-05-10 20:18] jderusse opened #2007 "Documentation and Api2.json missmatch for Sqs::receiveMessage"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-05-11 06:09] 17100113 opened #2008 "sendEmail() function doesn't allow the setting of the List-Unsubscribe header"
Hi. The List-Unsubscribe header could be made into a param in the args list for sendEmail. Right now, if we're to add the List-Unsubscribe header, we'll have to have the sendRawEmail function instead. Current solutions are like so: https://stackoverflow.com/questions/35278372/how-to-implement-list-unsubscribe-header-in-emails-sent-by-aws-ses-with-the-php/38684545#38684545
Code readability is heavi

[2020-05-11 07:06] iamanupammaity opened #2009 "How to send bulk email to user"
How to send 'html_body' emails to different users in a single hit without sendEmailBulkWithTemplate.
The same content to many recipients.

[2020-05-11 07:24] iamanupammaity opened #2010 "history"
**Describe the issue with documentation**
A clear and concise description of what the issue is.

**To Reproduce (observed behavior)**
Steps to reproduce the behavior (please share code or minimal repo)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any o

[2020-05-11 07:26] #2010 closed

[2020-05-11 07:31] iamanupammaity opened #2011 "How can I get email send history"
Using hit an API call can I get the last 1 days or 2 days email sent history in SES. The data output link email sent id, email id, subject, time etc.

[2020-05-11 18:40] bluusun commented on #2006
I can confirm the same issue under PHP 7.3 when using AWS SDK (accessing an S3 bucket). Downgrading guzzlehttp to 6.3.3 worked for me.

[2020-05-11 20:32] diehlaws commented on #2008
Hi @17100113, thanks for reaching out to us about this. Unfortunately this is not the appropriate channel for feature requests specific to a given service. The request parameters for a service's API calls is determined by the service team in question rather than individual AWS SDK teams.

It would be more effective to submit this type of feature request to our Premium Support team via a [new techn

[2020-05-11 20:40] diehlaws commented on #2009
Thanks for reaching out to us @iamanupammaity. Please keep in mind that guidance requests for a given service should be submitted to our Premium Support team via a [new technical support case](https://console.aws.amazon.com/support/home#/case/create) as they will have a better understanding of how to effectively interact with the service itself.

That being said, while the [`SendEmail`](https://do

[2020-05-11 20:50] diehlaws commented on #2011
Hi @iamanupammaity, as with #2009 this question is better geared toward our [Premium Support team](https://console.aws.amazon.com/support/home#/case/create). As far as I'm aware, SES does not make sent email history available via the API or the web console. You can retrieve statistics for your sent emails via the [`GetSendStatistics`](https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-email-2010-1

[2020-05-12 02:18] cuongngoz commented on #2005
My ~/.aws/config
[code]
Because I want to get the `role_arn` and `role_session_name` in config file for `assumeRole` call

$result = $stsClient->assumeRole(array(
    'RoleArn' => <get role_arn of dev profile in config file>,
    'RoleSessionName' => <get role_arn of dev profile in config file>,
...)

[2020-05-12 05:45] 17100113 commented on #2008
Hi Alex. I was actually told to post here by AWS's Premium customer support... They did mention that this is already in their pipeline, but it's best that I post here as well. But thank you for the clarification! Duly noted for future reference.

[2020-05-12 20:35] diehlaws commented on #2005
Hi @nvcken, thanks for reaching out to us. Unfortunately the AWS SDK for PHP does not have a class similar to the CLI's `configure` with a function that retrieves a given value for the specified profile. That being said, you can use the SDK's [`INI parser`](https://docs.aws.amazon.com/aws-sdk-php/v3/api/function-Aws.parse_ini_file.html) on your shared config file to retrieve these values as shown

[2020-05-12 23:43] nvcken commented on #2005
Thanks

[2020-05-12 23:43] #2005 closed

[2020-05-13 06:23] kkmuffme opened #2012 "Incorrect path for .aws credentials - double slashes"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-05-13 22:31] diehlaws commented on #2006
Thanks for reaching out to us about this @LiamDawe and @bluusun (and thanks for chiming in on this @Nyholm!). While I'm unable to reproduce this when downloading the AWS SDK for PHP via composer, I do see this behavior if I import version 3.137.6 of the SDK via the .phar and .zip releases.

Looking further into this it seems like our .zip and .phar packages aren't including the package `symfony/po

[2020-05-13 23:51] diehlaws commented on #2012
Hi @kkmuffme, thanks for reaching out to us. Which OS are you using where the current behavior results in the shared config file loading properly? The default $HOME location in Ubuntu and OSX does not contain a trailing slash, and the only case in which `getHomeDir` returns a path with a trailing slash in Windows is if the $HOMEPATH is set to the root of a drive - even then, the OS should ignore t

[2020-05-14 09:16] #2012 closed

[2020-05-14 10:10] alecwcp opened #2014 "Token file not found temporarily after refresh on Kubernetes"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-05-14 22:02] diehlaws commented on #2007
Hi @jderusse, thanks for reaching out to us about this.  The API model is provided to us by the service team, which is then used by the AWS SDKs to generate the service client. Looking at the [ReceiveMessage](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_ReceiveMessage.html) page of the SQS API Reference it doesn't look like the attributes documented for `AttributeName`

[2020-05-14 23:31] diehlaws commented on #1982
Thanks for the additional context @adam-ut. I'm able to reproduce the described behavior when using a file large enough for the S3 Transfer Manager to upload to S3 using a multipart upload instead of a single PutObject call. We'll have to look further into what's causing this behavior in the Transfer Manager.

In the meantime, you can work around this behavior by setting `mup_threshold` (multi-par

[2020-05-15 23:17] diehlaws commented on #2014
Thanks for bringing this to our attention @alecwcp. The description you've provided for the behavior shown makes sense, on the surface this does appear to be a bug in the way the AWS SDK for PHP handles fetching the web identity token once the token is refreshed. I'll work on reproducing this to ensure the proposed fix works as expected, once I have more information on this I'll update the issue a

[2020-05-15 23:41] buvinghausen commented on #1612
@jkdilunika you mean the same developers who can't be bothered to put the queue name in the QueueDoesNotExistException

LOL

[2020-05-15 23:56] diehlaws commented on #1968
Hi @Intrepidity, thanks for reaching out to us and I do apologize for the delay in response on our end. As @Nemo64 mentions the majority of our service clients' functions contain an asynchronous variant that relies on Guzzle promises which would be rendered unusable if we removed our dependency on this HTTP client by default.

That being said, if you'd prefer not to use Guzzle with the AWS SDK for

[2020-05-18 06:41] nitish-predera commented on #780
I was having same issue in elasticsearch S3 repository plugin. It turns out my access key was incorrect. Remember to verify your credentials for any typo.

[2020-05-18 17:59] rimvislt opened #2015 "Cognito-user-identity-pools "listUsers" Pagination sorting does not support descending sorting order, to reach users which are started from "Z" letter requires paginate through most of the data."
**Is your feature request related to a problem? Please describe.**
https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ListUsers.html

Pagination does not support descending sorting order, to reach users which are started from "Z" letter requires paginate through all data.

Because of the way how pagination is made in AWS SDK, to see anything what is in the end of alpha

[2020-05-18 20:57] diehlaws commented on #2015
Thanks for reaching out to us @rimvislt. Please keep in mind that feature requests submitted here should be for changes specific to the AWS SDK for PHP. Since what you're requesting is a change in how the listUsers API works for the Cognito service, this request would be more appropriate to submit to our Premium Support team via a [new technical support case](https://console.aws.amazon.com/support

[2020-05-19 05:42] thesunisgas opened #2016 "well my question is how is this? why ? and improve?"
Confirm by changing [ ] to [x] below:
- [ ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-05-19 08:31] DiegoLelis commented on #1908
I'm also being affected by this problem...

[2020-05-19 18:00] diehlaws commented on #2016
Thanks for reaching out to us @thesunisgas. Can you provide some additional context for your questions? Unfortunately what you're asking for here is not entirely clear.

[2020-05-19 20:12] neoacevedo opened #2020 "mkdir - No client in stream context"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) fo

[2020-05-19 20:44] diehlaws commented on #2020
Thanks for reaching out to us @neoacevedo. The error you're getting suggests the S3 client being used to register the streamwrapper is not being initialized properly. Can you provide a more complete code sample showing how you're creating your S3 client and registering your streamwrapper? I'm not able to reproduce this behavior on my end, using the code snippet below creates a directory in my S3 B

[2020-05-19 21:38] neoacevedo commented on #2020
Almost same code you have posted, only I passed the credentials.

[2020-05-20 00:03] #2009 closed

[2020-05-20 00:03] #2011 closed

[2020-05-21 16:21] Tbone542 opened #2022 "Aws\Exception\CredentialsException Timeout"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar issues](https:

[2020-05-21 21:30] neoacevedo commented on #2020
I will close it. I have a suspicious about a network issue.

[2020-05-21 21:30] #2020 closed

[2020-05-21 23:57] diehlaws commented on #2022
Thanks for reaching out to us @Tbone542. By default, the instance profile provider has a timeout of 1 second with 3 retries before returning the exception you're seeing. It sounds like your application is attempting to retrieve credentials from the instance's metadata service more frequently than it can handle returning credentials within the given timeout. There's a couple of things you could do

[2020-05-22 14:16] Tbone542 commented on #2022
That certainly makes sense. Thank you for your detailed description.

[2020-05-22 14:16] #2022 closed

[2020-05-23 00:06] #2015 closed

[2020-05-24 00:06] #2016 closed

[2020-05-24 23:12] gapinto opened #2023 "How Can I mock S3 client to make unit tests?"
Confirm by changing [ ] to [x] below:
- [ x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AW

[2020-05-26 21:46] diehlaws commented on #2023
Thanks for reaching out to us @gapinto. Our [S3 tests](https://github.com/aws/aws-sdk-php/tree/master/tests/S3) use a test client in the Aws\Test namespace that can be bootstrapped from the files in our repo's [features/bootstrap/Aws/Test](https://github.com/aws/aws-sdk-php/tree/master/features/bootstrap/Aws/Test) directory. Reviewing our [S3 multi-part uploader tests](https://github.com/aws/aws-s

[2020-05-26 23:01] #2006 closed

[2020-05-27 00:07] #1968 closed

[2020-05-27 14:11] Nyholm commented on #2007
Just a friendly ping. When do we expect an answer from the service team?

[2020-05-28 05:21] shridharp788 opened #2024 "BadMethodCallException"
``{
  ":class": "BadMethodCallException",
  ":code": 0,
  ":file": "vendor\/aws\/src\/Sdk.php",
  ":line": 482,
  ":message": "Unknown method: get.",
  "codename": "NO_KEY\/EXCEPTION\/STATUS\/INTERNAL",
  "server": {
    "_PAYLOAD": {
      "custom": {
        "data": "null"
      },
      "BODY": {
        "data": "null"
      }
    }
  },
  "log_type": "ERRORS",
  "uri": "\users\/documents",
  "

[2020-05-28 07:20] shridharp788 commented on #2024
Close this issue , it was because a get method call which does not exist

[2020-05-28 07:20] shridharp788 commented on #2024
Closed

[2020-05-28 07:20] #2024 closed

[2020-05-28 18:41] diehlaws commented on #2007
Hi @Nyholm, unfortunately the SQS team has not yet responded to my request. I've reached out to them again and will update the issue once they respond.

[2020-05-29 04:56] j13k opened #2027 "Legacy references to Message and MessageValidator classes in SDK documentation"
As of **May 2020**, the SDK documentation still indicates that the `Message` and `MessageValidator` classes are available in the main library, when according to issue #625 these classes were migrated to an auxilliary library in 2015.

https://docs.aws.amazon.com/aws-sdk-php/v3/api/namespace-Aws.Sns.html

![Namespace_Aws_Sns___AWS_SDK_for_PHP_3_x](https://user-images.githubusercontent.com/1084378/8

[2020-05-29 06:17] somnaderi opened #2028 "Do multipart copies use non-sequential part numbers?"
Confirm by changing [ ] to [x] below:
- [X] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-05-29 14:37] bagage opened #2029 "404 not found link in Static Client Facades"
**Describe the issue with documentation**
[Feature facades docs](https://docs.aws.amazon.com/aws-sdk-php/v2/guide/feature-facades.html) ends with:

However this links does not exist anymore. I found the proper one for [Guzzle 3](https://guzzle3.readthedocs.io/plugins/mock-plugin.html) though. Maybe [that](http://docs.guzzlephp.org/en/stable/testing.html?highlight=mock) for Guzzle6?

[2020-05-30 00:02] diehlaws commented on #2014
Thanks for your patience in this matter @alecwcp. Unfortunately I haven't been able to reproduce the described behavior on my end, once the web identity token expires the SDK seems to be able to locate the new one without issues on my end. I created an image using version 1.133.6 of the SDK with a modified [AssumeRoleWithWebIdentityProvider](https://github.com/aws/aws-sdk-php/blob/master/src/Crede

[2020-05-30 00:13] diehlaws commented on #2027
Hi @j13k, thanks for bringing this to our attention. Message validation for SNS has indeed been moved to [a separate package](https://github.com/aws/aws-php-sns-message-validator/), we'll work on updating our documentation to reflect this change. While we cannot make changes to the SNS developer guide, I'll be reaching out to their docs team internally to have the page you mention updated to highl

[2020-05-30 00:18] diehlaws commented on #2029
Thanks for reaching out to us about this @bagage. Please keep in mind that version 2 of the AWS SDK for PHP is not actively maintained - while we do continue to push bug fixes and security patches to this version of the SDK it has not had any new features added for some time. We strongly recommend upgrading to version 3 of the AWS SDK for PHP.

That being said, we will update this documentation pa

[2020-05-30 01:06] diehlaws commented on #2028
Hi @somnaderi, thanks for reaching out to us. I haven't come across the described behavior (granted I don't think I've tried copying files of this size between S3 locations using the SDK), however looking at the logic for MultipartCopy's [`getUploadCommands`](https://github.com/aws/aws-sdk-php/blob/master/src/S3/MultipartCopy.php#L101) it seems like it should be using sequential part numbers for t

[2020-05-30 05:33] j13k commented on #2027
Thanks for responding so promptly @diehlaws. I did discover that information about the separate package, but only after stumbling upon the discussion in issue #625 via a general web search.

As a more general comment, it would be great if the documentation could be regenerated/updated whenever a new release of the SDK is minted. Clearly these SNS message classes haven't been included in the main S

[2020-05-31 14:37] alecwcp commented on #2014
Thanks for the thorough investigation @diehlaws

I'll ask our devops team to help me get some more environment details - is there anything in particular that would be useful?
I suspect they can also explain why the IMDS returns `Connection refused` (I'm a little hazy on how the IMDS works).

One thing that strikes me in the code you tested with is
[code]
but since the default value of `realpath_ca

[2020-06-03 08:17] razielvamp opened #2032 "[BUG] MultipartCopy.php. Can't use unicode special symbols."
What is Aws\S3\MultipartCopy?

It mentioned only once at bottom of this page [aws sdk page](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/s3-multipart-upload.html)

Is that undocumented secret feature?

How can I copy between buckets?

I using this code:
[code]
And my questions are:
1. If $from_path = "from-path/日本語名.jpg" this code is working good, if $from_path = "from-path/日本 語名.jpg

[2020-06-03 20:53] SamRemis commented on #1896
Hello @oakad,

Thank you for reaching out to us, and I apologize for the delay.  I'm looking into this right now, having more details about your use case would help us better understand the need to expose the method

Thank you,
-Sam

[2020-06-04 05:18] razielvamp commented on #2032
Okay. I find bug by myself.

I changed **aws/aws-sdk-php/src/S3/MultipartCopy.php**

**FROM**

[code]

**TO**

[code]

And now it works with any symbols in source key.
I think my solution is not good for push into repo as is, but please check this bug.

[2020-06-04 05:56] razielvamp commented on #2032
And my second question still open. Do you plan to add region parameter for source bucket?
Looks like I can set region when source path set as ARN accesspoint (another one undocumented feature), but that is not simple way.

[2020-06-04 21:57] JefferyHus commented on #1851
I am having the same issue right now.

[2020-06-04 22:23] diehlaws commented on #2032
Hi @razielvamp, thanks for reaching out to us about this. `Aws\S3\MultipartCopy` is a class intended to copy larger files between buckets using S3's [`UploadPartCopy`](https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPartCopy.html) API call. Unfortunately the current implementation of the MultipartCopy client only allows copy operations between buckets in the same region. You should be ab

[2020-06-05 03:28] lanlin commented on #1386
same problem to me.

[code]

[code]
the SDK code tries to get the file extension from the URL, but if the URL did not contain extension then `application/octet-stream` returned, well...

so why not to get `wrapper_data`?
[code]
then pick up the content-type from the headers, see https://www.php.net/manual/en/function.stream-get-meta-data.php

[2020-06-05 03:54] razielvamp commented on #2032
@diehlaws
Thank you for answer.

Actually I tried to use standard `S3Client` today, and it copying from `ap-northeast-1` bucket to `us-east-2` bucket without any problems even if I set `ap-northeast-1` (as client `region` parameter) only.

So, is there any difference between `S3Client` and `S3MultiRegionClient` even if both working with different region buckets?

[2020-06-05 04:40] lukecleland-myfiziq commented on #1979
I found the Capless Warrant Python code very helpful in understanding the whole process.

https://github.com/capless/warrant/blob/ff2e4793d8479e770f2461ef7cbc0c15ee784395/warrant/aws_srp.py#L93

[2020-06-05 17:07] mf-lit commented on #2014
Hi @diehlaws , I've been working with @alecwcp on this....

I've taken your version of the script and your modifications to AssumeRoleWithWebIdentityProvider and have been running some tests.

Like you, I was unable to reproduce the issue at first, but then I reduced the wait time to just 10s and was able to reproduce it straight away:
<details>
  <summary>Output</summary>

[code]
</details>

Serv

[2020-06-08 00:05] #2023 closed

[2020-06-08 17:26] mf-lit commented on #2014
Having spent some more time on this I'm now certain that caching is the problem, and can report that the following paths must be cleared from cache in order to prevent a stale filesystem read:

[code]

All three of those paths must be cleared and they must be in cleared in that order. It seems that otherwise PHP can still find partial matches to paths in-cache as it resolves the chain of symlinks

[2020-06-09 00:46] diehlaws commented on #1895
Hi @udf2457, thanks for reaching out to us about this and I do apologize for the long delay in response from our end. How are you providing credentials to the `S3MultiRegionClient` being passed to your `MultipartUploader` when it is being initialized? Using an [assumeRole provider](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_provider.html#assumerole-provider) will

[2020-06-09 08:29] udf2457 commented on #1895
@diehlaws

Its a bit hard to describe as my code is in classes, but I've extracted the relevant functions from the classes below and if you read it from the bottom up you can (hopefully !) get the gist of how I got it working.

[code]

[2020-06-10 03:30] Finesse commented on #1931
What to set to `AWS_CONFIG_FILE` if I don't even have a configuration file? The code worked fine until I updated AWS SDK recently.

Copy-paste solutions for googlers:

- Set the environment variable to any path (including not existing) inside `open_basedir`. To do it, add this line before creating an `S3Client` object:
[code]
    It solves all the similar errors at the moment.
- Or if you don't wa

[2020-06-10 03:34] Finesse commented on #1956
Copy-paste solutions:

- Set the environment variable to any path (including not existing) inside `open_basedir`. To do it, add this line before creating an `S3Client` object:
[code]
- Or if you don't want the SDK to scan the disk, you can provide configurations explicitly:
[code]
    The default configurations are provided in this example.

[2020-06-11 07:22] udf2457 commented on #1895
@diehlaws  Thanks for the feedback. I will try to find some time to test it out.

[2020-06-16 14:49] bhaveshdaswani93 opened #2041 "Wrong Presigned url being generated"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-06-17 09:54] DZDomi commented on #2014
Thank you everybody for the investigation so far! Is there any ETA when this fix will be released? As i think its already very clear where the issue is and can be solved with the 3 lines for `clearstatcache` from @mf-lit

[2020-06-17 10:29] ryangittings commented on #1923
I'm also seeing this, are there any workarounds/fixes?

[2020-06-17 16:33] Shebo commented on #1923
@ryangittings
So I'm not working on said project anymore, but if I remember correctly I used an image optimizer plugin (like wp-smush or EWWW) that will strip down metadata of the image(that means all EXIF headers in the image file) on user upload.
Those of course some Wordpress plugins. If your project isn't using Wordpress or in case you need a more custom-made solution, you can write an EXIF st

[2020-06-17 20:37] diehlaws commented on #2014
@alecwcp @mf-lit thanks for the additional context and thorough investigation here, and I do apologize for the delay in response on our end. During my initial testing I increased the wait time for the sake of reducing the output to read through, inadvertently matching the `realpath_cache_ttl` value. Bringing the wait time back down to 10 seconds does indeed result in the behavior you describe, and

[2020-06-17 22:56] diehlaws commented on #2041
Hi @bhaveshdaswani93, thanks for reaching out to us about this. While some of the older AWS regions support endpoints that contains a dash between S3 and the Region for [backward compatibility](https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html#VirtualHostingBackwardsCompatibility), per the [endpoints and quotas](https://docs.aws.amazon.com/general/latest/gr/s3.html) documentation

[2020-06-18 13:52] sirdeggen commented on #1656
@khizarbajwa007 I'm having the _exact_ same issue. For now I've been trying to use the CloudFront aws-sdk to attempt to create a distribution after the endpoints are added but to no avail.

Keep getting:

`InvalidOrigin: The specified origin server does not exist or is not valid.`

[code]

[2020-06-18 15:12] SamRemis commented on #1896
Just to follow up, we discussed it and it and went ahead and changed the method to be public.  Thank you for the feedback!

[2020-06-18 15:12] #1896 closed

[2020-06-22 00:05] #2041 closed

[2020-06-25 06:16] chuelsmann commented on #1979
@sdrenth Any updates here? I'm running into the exact same issue. Just receiving "Incorrect username or password." Also tried several different generated signatures without success.

[2020-06-25 06:22] sdrenth commented on #1979
@chuelsmann I ended up using a workaround with calling a JAR file that was provided to me by a third-party, so I cannot be of help here. When calling the JAR file I had some issues with the password encoding, by using a password with only **!** and no weird characters helped me getting it to work. So maybe that is something for you to consider as well. Hopefully, you'll be able to get it to work.

[2020-06-25 07:11] iamanupammaity commented on #2009
Thank you.
Using BccAddresses how many recipient emails address I can add in one time?

[2020-06-28 12:22] shihabislambs opened #2049 "CommandPool unexpected concurrent execution | AWS SES"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-06-30 12:54] Nyholm commented on #2007
Did we ever get any response from the SQS team?

[2020-07-01 00:37] diehlaws commented on #2049
Thanks for reaching out to us @shihabislambs. The CommandPool will move on to issuing the next command immediately after a previously issued command completes to maintain a constant pool size corresponding to the set `concurrency` value. As a result, your CommandPool is likely sending your `SendRawEmail` commands at a rate faster than 14 requests per second since each command likely takes less tha

[2020-07-01 06:53] shihabislambs commented on #2049
@diehlaws That is what I suspected. Thank you for your explanation.

[2020-07-01 06:53] #2049 closed

[2020-07-01 19:29] recoverjp commented on #1612
For me the problem continues.
Even with a key without + or /

[2020-07-02 14:38] jaikdean opened #2053 "Timestamp parsing issue since 3.144.0"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar issues](https:

[2020-07-02 17:58] #2053 closed

[2020-07-02 18:37] SamRemis commented on #2053
Thank you so much for pointing this out @jaikdean

We just pushed a fix for this issue with today's release and it should be working now.

[2020-07-07 17:46] somnaderi opened #2055 "MultiPartCopy of large files (50-500GB) results in corrupted files when parts fail"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-07-07 18:27] somnaderi commented on #2055
I need to do some further investigation on this as I noticed that the log times coincides with some regular maintenance activity that happens and it could be related. I don't believe previous occurrences of this bug coincided with this maintenance activity, but I don't want to send anyone out chasing ghosts if it has nothing to do with the library.

I can re-file this bug should I rule out the mai

[2020-07-08 16:09] Ydalb opened #2056 "Transfer with relative path as destination folder"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-07-08 23:10] diehlaws commented on #2056
Thanks for reaching out to us about this @Ydalb. I'm looking into the intent behind the PR #1281 that introduced this logic to determine whether your proposed change is viable to add. In the meantime, it's possible to circumvent this behavior by setting your destination to the realpath corresponding to the destination path containing `..` (e.g. `$destination = realpath('../path/to/destination');`)

[2020-07-09 00:15] SamRemis commented on #2032
Hi @razielvamp,

Thanks for looking into the issue, your advice on how to fix it came in handy.  The first bug is fixed as of this PR: https://github.com/aws/aws-sdk-php/pull/2045

As for your second question, I wasn't able to replicate exactly what you described.  Both S3Client and S3MultiRegionClient should work for a copy small enough to be done in one part.  For larger copies, the S3Client sho

[2020-07-09 11:26] zzgab opened #2057 "InstanceProfileProvider: bug with Guzzle 7.0.1, works with 6.4.5"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-07-09 23:13] diehlaws commented on #2057
Thanks for reaching out to us about this @zzgab. Unfortunately I haven't been able to reproduce the described behavior using the specified versions of PHP, the AWS SDK for PHP, and the Guzzle HTTP client. The following information should help us better troubleshoot this behavior.

- Are you running your code directly on the EC2 instance, or within a Docker container running on the instance?
- Are

[2020-07-10 08:09] zzgab commented on #2057
Hi @diehlaws, thanks for your quick response.

I can confirm that I do reproduce the behaviour, using your **SDK snippet** (slightly modified to avoid the infinite loop in case of success).

I run the application (and your snippet) not natively on the EC2 instance, but inside a Docker container (image: `php:7.4.4-apache-buster`)

The snippet works fine with

[code]

(I read: "Found 5 buckets")

bu

[2020-07-10 12:12] miradnan commented on #1386
I had this similar issue.  Below is how I solved it.

`$uploader = new MultipartUploader($s3Client, $file->getRealPath(), [
                                        'bucket' => env('AWS_BUCKET'),
                                        'key' => $path,
                                        'params' => [
                                            'ContentType' => $file->getMimeType()

[2020-07-12 19:43] nicofff opened #2059 "copyObject error semantics are unclear"
**Describe the issue with documentation**
The api documentation for [copyObject](https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-s3-2006-03-01.html#copyobject) states that:
`A copy request might return an error when Amazon S3 receives the copy request or while Amazon S3 is copying the files. If the error occurs before the copy operation starts, you receive a standard Amazon S3 error. If the err

[2020-07-14 13:25] SANiMirrorOfLight commented on #1979
I've implemented the PASSWORD_CLAIM_SIGNATUR calculation on PHP and compare it with CognitoUser.js of my Amplify application.

The PHP application generates the same PASSWORD_CLAIM_SIGNATUR as the CognitoUser.js library for the same input properties.

But anyway in the PHP I receive "Incorrect username or password." response while JS application passes authentication successfully.

Is there someth

[2020-07-14 19:22] Stollie commented on #2057
I had the same problem, running in a docker container with PHP7.4.
Thanks for the info @zzgab, with downgrading guzzle to version 6 it works again. :)

I'm using the [Symfony bundle](https://github.com/aws/aws-sdk-php-symfony) and enabled the debug mode and ran the SQS pull. This was the output I hope it can be a bit of help.

GUZZLE 7.1

[code]

[2020-07-14 19:57] gmponos commented on #2057
@Stollie maybe you could add also debug from 6.5.4 ?

[2020-07-14 20:05] Stollie commented on #2057
Here it is on PHP 7.2. From another container.

[code]

[code]

[2020-07-15 06:24] sdrenth commented on #1979
@SANiMirrorOfLight I've had the same issue. I tested on my Windows machine where I was able to login using the same credentials and on my Macbook I was unable to, this was due to:

[2020-07-17 03:10] razielvamp commented on #2032
@SamRemis

Thank you for bug fix.

There is core of my code

[code]
It working fine with different regions for me.

[2020-07-17 03:51] SamRemis commented on #2032
@razielvamp thank you so much, I'll try to reproduce the error and get back to you :)

[2020-07-17 13:23] SANiMirrorOfLight commented on #1979
@sdrenth I've tried using a password without "!" but anyway Cognito returned "Incorrect username or password.". Also, I don't think that there is an encoding issue in my case because it seems like my PHP program code generates the same PASSWORD_CLAIM_SIGNATUR hash as CognitoUser.js library.

[2020-07-17 13:39] sdrenth commented on #1979
@SANiMirrorOfLight I removed all weird characters from my password except "!", because at least 1 character was required, so I ended up with a password with looks something like:
**1234abcdefgh!**

But I can't help you any further unfortunately because I was unable to find out how to generate it using PHP (as in, it would take way to much time). So I ended up calling a JAR file in PHP which handle

[2020-07-19 08:56] kickthemooon opened #2063 "How to use S3Client with Role and Token File Env Vars present (service account)"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-07-19 14:11] kickthemooon commented on #2063
https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_configuration.html#credentials
"If you don’t provide a credentials option, the SDK attempts to load credentials from your environment"

[2020-07-19 14:11] #2063 closed

[2020-07-19 21:35] al3x88 opened #2064 "SES api signature version"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-07-20 18:06] Cherchercher opened #2065 "php media stream encoding"
Hi, I want to encode media stream to sent to aws transcribe streaming.

I found a package in node.js:
https://github.com/aws/aws-sdk-js-v3/tree/master/packages/eventstream-marshaller

Is similar features available yet in PHP?

Thank you

[2020-07-20 20:29] somnaderi commented on #2055
Would anyone have some time to look at this, by chance? Or if there's missing information, I could try and dig it up to help...?

[2020-07-21 20:20] diehlaws commented on #2064
Hi @al3x88, thanks for reaching out to us. The AWS SDK for PHP uses Signature Version 4 by default, so the deprecation of SES Signature Version 3 should not affect code that uses this SDK. That said, you can specify the signature version used by the SDK in the service client's configuration as shown [here](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_configuration.html#signatur

[2020-07-21 20:38] diehlaws commented on #2065
Hi @Cherchercher, thanks for reaching out to us about this. Unfortunately the AWS SDK for PHP does not support streaming audio to the Transcribe service at this time. Once we have additional information on this we'll update the issue accordingly.

[2020-07-21 21:01] diehlaws commented on #2059
Thanks for reaching out to us about this @nicofff. Errors received on 200 OK responses from S3 should always be an `S3Exception` and will be included in the XML body of the response. Descriptions for a service's calls in the SDK's API reference are retrieved from the API model provided to us by the service team, which is the same source used for the service's API reference documentation.

While we

[2020-07-22 00:08] #1711 closed

[2020-07-22 00:51] nicofff commented on #2059
Thanks for the response @diehlaws.
Another thing that is unclear is if these errors will be retried automatically or not. Looking at the RetryMiddleware it's not immediately obvious if it will be.

[2020-07-22 08:41] al3x88 commented on #2064
@diehlaws thanks for the reply!!
My SDK is of version 3.87.4. Does it support signature v4 as well?
Or I need to update the SDK?

[2020-07-23 23:26] ebrahimpleite opened #2066 "how to get all NextToken from getDocumentTextDetection"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-07-23 23:50] diehlaws commented on #2064
@al3x88 No problem! Version 3.87.4 should use SigV4 by default without having to specify the `signature_version` parameter in the client config. You can verify that your requests are being signed with SigV4 by enabling [debug logging](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_configuration.html#debug) and looking for `aws4_request` in the `Authorization` header value of the

[2020-07-23 23:56] diehlaws commented on #2065
Streaming audio to Transcribe requires HTTP/2 support which is not implemented in version 3 of the AWS SDK for PHP. The next major version of the AWS SDK for PHP should introduce support for HTTP/2, once this is introduced the SDK will support Transcribe streaming.

[2020-07-23 23:56] #2065 closed

[2020-07-24 00:25] diehlaws commented on #2066
Hi @ebrahimpleite, thanks for reaching out to us about this. You can wrap your `getDocumentTextDetection` call in a do/while loop until the `NextToken` value for your result variable is empty. I've included a code sample below for your review.

[code]

[2020-07-24 00:37] ebrahimpleite commented on #2066
thanks @diehlaws

[2020-07-24 00:37] #2066 closed

[2020-07-24 11:57] al3x88 commented on #2064
@diehlaws thanks so much for ur help!

[2020-07-24 12:58] indiandeveloper2020 opened #2067 "Can we use ProductAdvertisingAPI with the help of this SDK"
Hi, sorry for asking question but I do not find answer anywhere that's why I ask here. I want to know Can we use ProductAdvertisingAPI with the help of this SDK.
I read somewhere
` $awsv4 = new AwsV4 ($amazon_access_key, $amazon_secret_key);`
`$awsv4->setRegionName("us-east-1");`
`$awsv4->setServiceName("ProductAdvertisingAPI");`

[2020-07-26 07:30] Tarequzzaman opened #2068 "Error retrieving credentials from the instance profile metadata server. (Client error: `GET http://169.254.169.254/latest/meta-data/iam/security-credentials/` resulted in a `404 Not Found`"
Hi
I got this error  while connecting AWS Managed Elasticsearch. But My code does not provide any error on my local environment. I have shared my both environment specification below:

<h3>Local Environment:</h3>

[code]
AWS CLI version:

[code]
aws-php-sdk:
[code]

<h3>Dev Environment:</h3>

[code]

AWS CLI version:

[code]
aws-php-sdk:
[code]

I have check the aws credentials both of **local** a

[2020-07-27 20:52] diehlaws commented on #2067
Hi @indiandeveloper2020, thanks for reaching out to us. The AWS SDK for PHP does not support interacting with the Amazon Product Advertising API. The AWS services supported by this SDK are listed in our [SDK API Reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html).

That said, it looks like there is a PHP SDK for the Amazon Product Advertising API as mentioned [here](https://webse

[2020-07-27 20:52] #2067 closed

[2020-07-27 21:17] diehlaws commented on #2068
Hi @Tarequzzaman, thanks for reaching out to us. While version 3.90.6 of the AWS SDK for PHP is relatively old and I recommend upgrading to the latest version of the SDK to ensure recent changes in service APIs are supported, there haven't been any significant changes in how the SDK handles credentials from the shared credential file since that version so this shouldn't affect your ability to load

[2020-07-28 08:25] Kuijkens commented on #1908
Any updates regarding this matter?

Could you perhaps also change the label from "guidance" to "bug"?

[2020-07-28 13:56] Tarequzzaman commented on #2068
Yes The code is running both the same user that has the .aws/credentials file in its home directory.

BTW the issue is solved using <a href=https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_provider.html>custom provider</a>

Thanks

[2020-07-29 00:04] out-of-band commented on #2057
Just confirming this bug as well.

In our case, we were running into `Error retrieving credentials from the instance profile metadata service.` trying to send messages via SES from pods running in EKS using IAM via service account with the `eks.amazonaws.com/role-arn` annotation.

We were fairly certain from the beginning of troubleshooting that this was something specific to the AWS PHP SDK since

[2020-07-30 16:56] tolew1 opened #2071 "Uploading is very slow regardless of file size"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-07-30 17:45] tolew1 commented on #2071
Sorry, Took a lot to track down the issue, but turns out it was one of the DNS servers that seemed to be taking a long time for resolution.

[2020-07-30 17:45] #2071 closed

[2020-08-01 00:17] SamRemis commented on #2032
@razielvamp  Sorry for the delay; I wasn't able to reproduce the behavior you described.  No matter how I changed the parameters, as long as I was not using a multi-region client, it would always fail in the second catch.  I wish I could explain the behavior further.

We don't suggest relying on this feature going forward as it is not officially supported by the SDK.  Thank you for your question

[2020-08-01 00:17] #2032 closed

[2020-08-03 03:56] nimeth opened #2072 "PHP/Laravel libraries to implement identity and isolation for multi-tenant SaaS solution with Cognito"
Dear AWS developer team,

We are working on our project building a multi-tenant SaaS of a Suite of HR applications. Throughout my long-time research and understanding for building a multi-tenant SaaS solution on AWS, I'm strongly interested with a reference architecture and application for building identity and isolation for multi-tenant SaaS on AWS as described here [SaaS identity and isolation w

[2020-08-04 00:44] razielvamp commented on #2032
@SamRemis Thank you for answer and checking my code.
Hmm, maybe I missed something when setting buckets?.. I will try to re-check it in future.

[2020-08-04 22:14] diehlaws commented on #2072
Hi @nimeth, thanks for reaching out to us. Unfortunately to my knowledge we do not have any sample implementations based on PHP of a multi-tenant SaaS application similar to those described in the links you've provided. That said, the API calls made to AWS services should be the same between the AWS SDKs for PHP and Javascript, so the source code for the SaaS implementation quickstart you mention

[2020-08-04 22:15] #2068 closed

[2020-08-04 22:15] #2064 closed

[2020-08-05 02:54] fischaz commented on #2057
Hi all,

I believe we have the same issue (reading the ticket and the condition). debugging internally, in our case, we've narrowed it down to the way the PHP/Guzzle first try to access the AWS Metadata v2 Token API  http://169.254.169.254/latest/api/token which:
- does connect with TCP
- but times out waiting for the PUT call to respond.

I could reproduce the issue within the same docker contain

[2020-08-05 15:15] ktecho opened #2073 "getCostAndUsage filtering by tag is not working"
If I do tag filtering with `describeInstances`:

[code]

I get an instance:

[code]

And if I try to get the cost and usage of my instances using `getCostAndUsageWithResources`, the instance appears there too because there are usage and costs associated to the instance :

[code]

But if I try filtering by tag with `getCostAndUsageWithResources` or with `getCostAndUsage`, I get no usage or costs:

[2020-08-06 00:19] somnaderi commented on #2055
Additional data point: I reduced the number of worker processes to 1 apiece -- one for ingesting large files, and one for delivering large files. So far (almost 2 weeks) there have been no additional instances of file corruption.

The ingest and delivery workers operate under different instances of Symfony even though they are on the same server. So I would think that means there's at least some i

[2020-08-06 22:42] carlalexander commented on #1950
I can confirm that @SamRemis's change seems to have fixed the issue.

[2020-08-07 01:48] fischaz commented on #2057
This is a generic docker bridge network issue accessing that token API:

Per https://aws.amazon.com/blogs/security/defense-in-depth-open-firewalls-reverse-proxies-ssrf-vulnerabilities-ec2-instance-metadata-service/ (specifically the **Protecting against open layer 3 firewalls and NATs**)

the return packet has a TTL of 1, and as a bridge container is 2 hops away, the return packet of the response

[2020-08-07 06:06] gmponos commented on #2057
@fischaz even if that's the issue.. how does this explain that it works with Guzzle6? Do you have any idea?

[2020-08-07 06:47] fischaz commented on #2057
That I cannot explain. if guzzle only takes care of the HTTP aspect of things, it should fail the same way when the Ec2Metadata class tries to query the endpoint with guzzle (v6 or v7)... Sorry...

[2020-08-07 17:32] SamRemis commented on #1950
Thanks @carlalexander!  Looks like we still had to close this issue

[2020-08-07 17:32] #1950 closed

[2020-08-08 01:14] diehlaws commented on #2073
Hi @ktecho, thanks for reaching out to us. Unfortunately I'm not able to reproduce the described behavior - filtering `getCostAndUsage()` results by tags applied to my EC2 instances results in the expected usage and costs being returned:

<details><summary>Code</summary>

[code]

</details>

<details><summary>Output</summary>

[code]

</details>

Do you see this same behavior when performing the s

[2020-08-08 10:10] Nyholm commented on #2007
Friendly ping

[2020-08-09 00:09] #2072 closed

[2020-08-09 23:14] ktecho commented on #2073
@diehlaws Hey Alex. Thanks for your reply. I had to wait one day so changes got reflected in the Cost Explorer.

I tested now with tags without underscore, just in case that could be a problem, but it doesn't work. This is what I can see in the instance:

![image](https://user-images.githubusercontent.com/547169/89743749-74f71e80-daa6-11ea-91ed-16e5111318af.png)

Right now I'm testing with the AWS

[2020-08-11 06:15] DmytroShumeyko opened #2076 "Update / install issue of new version"
Hello, i'm getting an error from 2020-10-08 :

Package operations: 0 installs, 3 updates, 0 removals
  - Updating aws/aws-sdk-php (3.147.14 => 3.148.1): The following exception is caused by a lack of memory or swap, or not having swap configured
Check https://getcomposer.org/doc/articles/troubleshooting.md#proc-open-fork-failed-errors for details

  [ErrorException]
  proc_open(): fork failed - Ca

[2020-08-11 06:32] YouYII opened #2077 "use DocDB copyDBClusterSnapshot command cross region copy snapshot with encrypted snapshot. error : PreSignedurl could not be authenticated"
**Describe the bug**
Use DocDB copyDBClusterSnapshot command cross region  copy snapshot with encrypted snapshot.

**Version of AWS SDK for PHP?**
v3.130.3

        $client_config = null;
        $args = [
            'credentials' =>FailoverHelper::getCredentials(),
            'signature'   => 'v4' ,
            'version'     => '2014-10-31' ,
            'region'      => 'us-west-2',

[2020-08-11 18:52] seleznevaksenia commented on #2076
Hi! I have the same error in my project.

[2020-08-12 20:10] ajredniwja commented on #2076
Hey @DmytroShumeyko Thank-you for reaching out to us with your issue. I was not quite able to get a similar results, have you tried following the steps mentioned [here](https://getcomposer.org/doc/articles/troubleshooting.md#proc-open-fork-failed-errors) to solve the problem?

[2020-08-12 20:22] DmytroShumeyko commented on #2076
All manipulating of extending memory helps in this situation. Thanks

[2020-08-12 20:22] #2076 closed

[2020-08-18 20:37] diehlaws commented on #2077
Hi @YouYII, thanks for reaching out to us. The arguments provided for the `copyDBClusterSnapshot` command being issued are incorrect - the 'PresignedUrl' parameter is missing, and the 'DestinationRegion' parameter is not needed for the command that's actually sent to the service - instead the DocDBClient that issues the call should be initialized using the destination region as its 'region' parame

[2020-08-19 06:47] YouYII commented on #2077
Thank you for your reply, but when copying DocDB snapshots across regions, if you use awscli, you can complete the work by adding the SourceRegion. I investigated the internal source code of AWS PHP SDK, and it will automatically add the DestinationRegion parameter. I have also tried to remove the DestinationRegion, but it also does not work. For cross regional replication of RDB, The PesignedUrl

[2020-08-19 19:06] diehlaws commented on #2077
Thanks for the additional context @YouYII. Looking more closely at the source for our RdsClient it looks like there is a customization to automatically create a presigned URL for cross-region `CopyDBClusterSnapshot` operations that was not implemented in the DocDBClient for the AWS SDK for PHP. We'll work on implementing this customization in the DocDBClient to automate the population of the `Pres

[2020-08-20 22:45] diehlaws commented on #1895
Hi @udf2457 have you had a chance to test the `AssumeRoleCredentialProvider`? Please do let us know if you continue running into this issue.

[2020-08-20 22:52] diehlaws commented on #2059
Apologies for the delay in response on our end here @nicofff. The RetryMiddleware does indeed catch and retry `S3Exception` errors from S3 that are returned in a `200 OK` response. We'll be sure to include this information in the customization for the S3Client docs in the API Reference for the AWS SDK for PHP.

[2020-08-23 23:49] fischaz commented on #2057
I was not aware of this, this is indeed a better workaround for this issue.

[2020-08-24 00:48] fischaz commented on #2057
regarding this issue, could it be because Guzzle refactored in V7 their exceptions?

eg in 7.0.0-beta2, there is the entry:
* `ConnectException` extends `TransferException` [#2541](https://github.com/guzzle/guzzle/pull/2541)

and looking (admittedly at master in github, not the specific tag) at the guzzle code (https://github.com/guzzle/guzzle/blob/master/src/Handler/CurlFactory.php#L205) my view

[2020-08-24 07:07] somnaderi commented on #2055
More information that contradicts the earlier finding. We've been running our ingest workers as single processes for a few weeks now. For the first few weeks, there were no incidents of this issue. In the last 2 weeks, there's been 5.

On the plus side, this doesn't appear to be a multi-threading/multi-process issue. On the negative side, well, there still appears to be some kind of issue with the

[2020-08-25 00:11] #1895 closed

[2020-08-25 10:28] winston-ke commented on #954
it should be 'PutObject'

[2020-08-26 05:05] thuongmh opened #2086 "Add tag when create topic on sns doesn't working"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-08-26 16:07] diehlaws commented on #2086
Thanks for reaching out to us @thuongmh. While I'm able to reproduce the described behavior in version 3.1.0 of the AWS SDK for PHP, tagging SNS topics on creation works as expected using version 3.145.3. Looking at our [changelog](https://github.com/aws/aws-sdk-php/blob/master/CHANGELOG.md) it seems support for tagging topics was added in version 3.92.4 of the SDK, so you'll want to update to at

[2020-08-26 19:20] SamRemis commented on #2059
@nicofff we have added some notes to the docs to clarify this as well; it should appear in the documentation within 24 hours.

[2020-08-26 19:20] #2059 closed

[2020-08-26 20:14] garrensweet opened #2087 "Cannot create MediaLiveChannel due to: Exactly one of settings, MediaPackage settings, or Multiplex settings is required for destination..."
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar issues](https:

[2020-08-26 21:25] diehlaws commented on #2087
Hi @garrensweet, thanks for reaching out to us. Looking over the `media-live-template.json` file in your repo it looks like this was generated from the output of either a `describeChannel` or `createChannel` call. Please keep in mind that the inputs and outputs for calls of this nature for various services (e.g. the Elemental Media suite, CloudFront) do not necessarily have a 1:1 correlation with

[2020-08-26 22:02] garrensweet commented on #2087
@diehlaws You've been an absolutely tremendous help here. I greatly appreciate it. I'll make sure to keep what you've said in mind moving forward.

Solved and closed.

[2020-08-26 22:02] #2087 closed

[2020-08-26 23:30] nicofff commented on #2059
@diehlaws @SamRemis Thanks!

[2020-08-27 21:15] howardlopez commented on #1908
Apologies for the long delay and any issues resulting from the default tougher security posture that AWS has been enforcing. Elastic Beanstalk has added [support for IMDSv2](https://aws.amazon.com/about-aws/whats-new/2020/06/aws-elastic-beanstalk-adds-support-for-imdsv2-and-service-linked-role-for-managed-updates/), which should hopefully give you a better experience.

For anyone on EKS, they just

[2020-08-27 21:39] howardlopez commented on #1947
We have added a configuration option to never read configuration from a file in this PR: https://github.com/aws/aws-sdk-php/pull/2047

This should hopefully address your use case, but let us know if you have any issues.

[2020-08-27 21:39] #1947 closed

[2020-08-28 12:20] tedchou12 opened #2088 "S3 PutObject Error."
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-08-28 14:08] kaktusas2598 commented on #1714
We are having same issue, except that in our case it is mainly s3:GetObject operation. We use memoize and chain method of CredentialProvider class. I don't why this is marked as feature request, it looks like a bug to me, because we took this snippet from official AWS SDK Documentation: https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_provider.html#chaining-providers

[2020-08-28 16:10] #2088 closed

[2020-08-28 19:49] SamRemis commented on #1982
@adam-ut Hi Adam, just wanted to update you and let you know we are working on it now; I found the issue and am writing a patch for it.  We will close this issue when the patch is released.
Thank you again for bringing this to our attention

[2020-08-31 00:12] #2086 closed

[2020-08-31 01:30] somnaderi commented on #2055
Still haven't heard anything about this. I'd like to provide more data, if possible, to help. Or even debug myself, if I can.

Aside from this -- is there any documentation available as to how I would write my own multi-part copy function to perform the low-level part copies + retry logic + complete transfer behavior? I've only really seen examples of the high level MultipartUpload/MultipartCopy u

[2020-08-31 20:04] SamRemis commented on #2055
@somnaderi thank you for bringing this to our attention again, I apologize for the long delay.  I will start looking into this right now.  It's going to take some time to answer all of the questions, but I will get back to you as soon as I've had a chance to really look into it

[2020-08-31 20:19] somnaderi commented on #2055
@SamRemis Much appreciated, Sam.

I'm generally inclined to believe these kinds of problems are implementation (my code) issues and not the library. No one else chiming in as having the problem would also make me feel that way. So if there's any questions about the implementation, I'm more than happy to answer. The only difficult information to gather will be if there's some kind of debug data tha

[2020-09-01 00:14] #1908 closed

[2020-09-01 09:05] moonja89 opened #2090 "Create Presigned URL using SDK and Upload Text File using Presigned URL with postman"
DONE BY SELF

[2020-09-01 09:34] DZDomi commented on #2014
@diehlaws as the fix is already working as expected, is this something which can be merged into the aws sdk in the foreseeable future? as we are still waiting on this and we are getting still a lot of error logs daily from this bug.

[2020-09-01 11:42] yellow1912 opened #2091 "sendEmail gets stuck forever"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-09-01 13:24] yellow1912 commented on #2091
I found out why, hidden inside the migration note is the change that requires you to put the key and secret inside the credentials option key. I think it's still a bug, because there should be some error thrown instead of keeping the script running forever.

[2020-09-01 19:42] #2014 closed

[2020-09-01 20:59] ianmjones opened #2092 "The Symfony Polyfill included in the zip version of the SDK has incorrect entries in the aws-autoloader.php file"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-09-02 01:34] tyharg opened #2093 "SNS fails silently and my code returns a http 200"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-09-02 16:33] SamRemis commented on #2055
You may already know most of what I'm about to say, but just wanted to give you some response:

When you call the copy command, it goes and creates a list of individual requests for you: an 'initiateMultiPartUpload' request, one request for 'uploadPart' for each of your parts, and one request to 'completeMultipartUpload'.  Each of those individual requests will get retried if they fail up until th

[2020-09-02 20:24] somnaderi commented on #2055
Hi Sam,

Thanks for the update! Let me confirm that I'm understanding correctly here:

The retries you're referring to would be the overall S3Client "retries" parameter, correct? Or are you referring to the retry loop around the MultipartCopy call?

Assuming you mean the first one, then I would expect the behavior of the above code to look something like this:

S3Client initialize (3 retries)
Mult

[2020-09-03 08:16] #2090 closed

[2020-09-03 17:30] timothymarois commented on #1598
Can someone please explain why @dalisay `sudo systemctl restart php-fpm` would solve this issue? The XML mod is installed, restarting apache doesn't solve it either, but fpm does? This is the first I've seen this, on AMI1 this was not an issue, only found on AMI2 instances with EC2.

[2020-09-03 20:49] SamRemis commented on #2055
Hi Som,

There's a few questions here, so I'll address each one individually:

- _The retries you're referring to would be the overall S3Client "retries" parameter, correct? Or are you referring to the retry loop around the MultipartCopy call?_
Yes, that's correct.  The retries parameter will determine the number of times each part is retried.
-_is it correct to assume that the underlying uploadPa

[2020-09-03 21:51] somnaderi commented on #2055
Hi Sam,

Thanks again for engaging on this, I really appreciate it.

Regarding the expected behavior, while I haven't found a root cause yet, I can't imagine this is expected behavior. Ultimately -- the file copy signals that the copy is a "success", but really results in an output file that is almost double the source file's size.

Going off the sample code that was provided here (https://docs.aw

[2020-09-04 14:34] SamRemis commented on #2055
Oh! I misread what you said.  There is definitely more to look into here, I apologize for my confusion.  It will take a while to mock the error you're seeing, but with that extra info you provided, I should be able to do it.

As for your issue:
I'm thinking the increased file size may be due to your try catch loop and having you start two new multipart upload objects when it's failing.

In order t

[2020-09-04 20:08] somnaderi commented on #2055
Ah, some good information here that I didn't know about.

The part number assignment makes sense. Given that I'm not doing the assigning myself, though, what is the behavior of the library when using MultipartCopy? I would have assumed it would be 1 part number per part size -- in my case, 1 part number per 1 GB -- is this not the case?

I ask because the first set of errors I posted in my last co

[2020-09-05 20:22] sardok commented on #2093
I have see similar behavior on .Net package. `CreatePlatformEndpointAsync` blocks in my case.

[2020-09-06 00:10] #1101 closed

[2020-09-08 13:03] giandv opened #2095 "PHP>=5.5 does not support any method declared static inside local function"
I Confirm:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar iss

[2020-09-09 13:00] nesar77 opened #2097 "AssumeRoleWithWebIdentityCredentialProvider: failed to open stream, permission denied"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-09-10 14:57] SCZappy commented on #1335
This is still checking the wrong folder for credentials

[2020-09-10 15:26] SamRemis commented on #1335
@SCZappy The behavior for where it will check for files is described here: https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_profiles.html.  If you would like to have it be set somewhere else, please use the `filename` config option.  I believe the SDK is behaving as described, but if not, please let me know and I can look into it further.

[2020-09-10 17:31] somnaderi commented on #2055
Hi @SamRemis , just curious if there's any update on this?

Appreciate the help!

[2020-09-10 21:55] SamRemis commented on #2055
@somnaderi I still haven't been able to replicate the error, and I've spent a good bit of time on it.  Even if I mock errors with retries, without retries, it still comes out properly.
I have one last theory to test- if two copies are created before one completes.  I will follow up when I'm done testing that.

One odd thing I saw- multipart copies number their parts starting with 1 and increasing

[2020-09-10 22:23] SamRemis commented on #2055
For me, no matter how I initiate one or multiple uploads, it always overwrites the correct part number when the upload is happening.  Are you just initiating the uploads from one computer, or is it a distributed system?

[2020-09-11 01:46] somnaderi commented on #2055
That's really odd. Are you, by chance, using a different version than I am? I'm on 3.140.2 (Guzzle v.6.5.2). Not sure if there's been any changes since then that may have inadvertently fixed this...? Would you be able to try the same mocked errors with that version to see if it triggers this problem? I could theoretically update to latest, but then we're just waiting potentially a few weeks and wa

[2020-09-11 22:03] SCZappy commented on #1335
@SamRemis The problem is that the SDK is retrieving the `HOME` environment variable and assumes that that has been set for the environment. Running PHP with Apache doesn't set the `HOME` environment variable by default.

In the `httpd-vhosts.conf`, I add a line like the following:
[code]
This forces Apache to use correct value for the `HOME` environment variable.

With a custom Python build script

[2020-09-12 19:10] somnaderi commented on #2028
Hi @diehlaws

Sorry, totally slipped on getting back to this. There's actually a separate ticket I've submitted here (https://github.com/aws/aws-sdk-php/issues/2055) that's somewhat related, too.

Unfortunately, I'm only seeing these exception logs in our production environment. I'll look into enabling this there soon. The sequential numbering problem may only present itself when retry issues come

[2020-09-14 13:57] xiangweilee commented on #848
I need to add the `content-type` header to make it work.
[code]

[2020-09-15 20:25] howardlopez commented on #2055
@somnaderi It's possible the too-high part numbers may be a key to understanding what's going on here.

Just a brief sanity check - are the part numbers from your logs ones that you are generating and incrementing yourself in the `before_upload` callback, or are they actually being returned by the service?

One thing that could be useful for the investigation is to turn on debugging (client constr

[2020-09-15 21:03] somnaderi commented on #2055
Hi Howard,

The "error=" key in the log shows the output from the MultipartUploadException's message ($e->getMessage()). The log pasted a few posts above come from the code included in the original post for "event" => "multipartUploadFailed". Those part numbers were all in the error message.

As far as I can tell, I'm not doing anything to dictate part numbers with before_upload (the function I'm

[2020-09-15 22:38] howardlopez commented on #2095
@giandv I'm not sure I quite follow what the bug you're describing is. Can you give a more complete code sample, as well as the error message that you're encountering? What exactly is it you're trying to do?

[2020-09-16 06:28] giandv commented on #2095
The instruction written in the issue generate a syntax error on an application based on PHP 5.6, but the package "aws-php" promises to be compatible with PHP> = 5.5 ([https://packagist.org/packages/aws/aws-sdk-php](https://packagist.org/packages/aws/aws-sdk-php)).

[2020-09-16 19:17] howardlopez commented on #2095
@giandv I'm still not sure what compatibility error you're getting - can you please add a complete code sample, as well as the full text of the error message?

The SDK includes PHP 5.5 and 5.6 environments on its Travis CI tests and currently passes all the unit tests, so please give additional clarification about exactly what you're facing.

[2020-09-17 09:18] giandv commented on #2095
![unreachable-statement](https://user-images.githubusercontent.com/18395021/93451246-36d7f080-f8d7-11ea-9d27-110de18f383e.PNG)
The code shown below generate an unreachable statement, for this reason I cannot instantiate S3Client object.

[2020-09-17 20:06] somnaderi commented on #2055
One other thing that dawned on me -- are there any issues that might arise from misconfigured permissions that the library may not bubble up? Transfers succeed most of the time, so the happy path works. I'm wondering if there's some kind of permission that would be needed for resolving retries that maybe isn't as obvious...?

The policy I'm currently using enables the following S3 commands:

s3:Ge

[2020-09-21 19:01] JBOClara commented on #2057
@out-of-band

I confirm the bug as well while using https://github.com/aws/amazon-eks-pod-identity-webhook

Since eks-pod-identity works with assumeRoleWithWebIdentity, I am surprised that EC2 metadata API is needed to do that.

Is the secret present in the file pointed by `AWS_WEB_IDENTITY_TOKEN_FILE` => `/var/run/secrets/eks.amazonaws.com/serviceaccount/token` not sufficient ?

[2020-09-21 21:36] howardlopez commented on #2095
@giandv Can you copy/paste the code you're using yourself to produce the error (i.e. your code that is consuming the S3 client), as well as the exact error message?

[2020-09-22 16:03] SamRemis commented on #2091
@yellow1912 Thank you so much for bringing this to our attention.  Currently I am unable to reproduce the issue.  To make sure I'm following, I took the following steps

- copied and pasted your code exactly but deleted the http section of the client constructor
- replaced the two email addresses with real, verified email addresses
- set 'use_aws_shared_config_files' to false to ensure it wouldn't

[2020-09-22 22:31] codebymike commented on #2053
If anyone else finds this - you're missing "date_default_timezone_set($timezone);"

[2020-09-23 15:31] SamRemis commented on #2092
Hi @ianmjones,
I apologize for the long delay in response time.  Just wanted to update you to let you know that I was able to replicate the issue and am looking into it now

[2020-09-24 03:09] somnaderi commented on #2055
@SamRemis @howardlopez  We deployed the debug flag a few days ago. Still haven't had a failure happen in production, but I've at least got debug data for a successful delivery.

As far as I can tell, the part numbers in this transfer count up as expected. So we may need to wait until a failure to get anything interesting.

I've tried to sanitize it as best as possible, but I still don't really wan

[2020-09-24 08:01] giandv commented on #2095
Snippets that generate errors:

[code]

The specific instruction that generate error is: **return static function**

[2020-09-25 20:25] howardlopez commented on #2095
@giandv Sorry if I didn't make it clear, but I was looking for your code that you're running, not the SDK code. The SDK code you posted has been run through our unit tests on PHP 5.5 and 5.6 for a long time and not encountered the issues you're describing, so I'm looking for your specific code that is using the SDK. Also, can you paste the full error message you are receiving?

[2020-09-25 20:29] howardlopez commented on #2055
@somnaderi Thanks for setting that up! I think it'll be better to wait for when the issue crops up again, as looking at the logs from properly functioning calls likely won't tell us much. When the issue does occur again, you could potentially also send us a copy of a successful upload log just so we can do an exact comparison of the issue vs. no-issue chain of events on your application.

[2020-09-25 22:43] somnaderi commented on #2055
@howardlopez We just got a failure with the debugger turned on. I'm going to pull down the log and sanitize it now -- is there somewhere I can send this to you directly (as I would prefer not to post our customer's potentially identifying information publicly here). Thanks!

[2020-09-26 13:13] mobaid-eg opened #2105 "i cant install composer and php mailer on my centos 7"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-09-28 10:32] nesar77 commented on #2097
Hi @SamRemis your suggestion works fine.

[2020-09-28 17:10] samueleastdev opened #2106 "Cannot set the OutputKey when using starttranscriptionjob"
**Describe the bug**
Cannot set the OutputKey when using starttranscriptionjob

https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-transcribe-2017-10-26.html#starttranscriptionjob

If I set the output key path it still saves the file in the root of the bucket instead of the set output location.

Here are the params I am setting.
[code]
**Version of AWS SDK for PHP?**
3.112.34

**Version of PHP (`p

[2020-09-29 00:11] #2091 closed

[2020-09-29 06:37] somnaderi commented on #2055
@howardlopez @SamRemis

Is there some way I can deliver the log files to one of you directly without posting them here publicly? I'm trying to sift through the logs myself and it looks like it would take me a whole lot of coming up to speed on what's going on under the hood to figure out where the problem is. (the log with the errors ended up around 135MB)

Thanks!

Som

[2020-09-29 16:05] cp4r3z commented on #849
5 years later, I'm hitting the same error. The solution for me was to remove an empty `ResourceRecords `array that I was passing into the UPSERT method. Hope it helps someone!

[2020-09-29 17:21] howardlopez commented on #2055
@somnaderi We can create an S3 bucket that you have write access to deliver the log files, if that works. I'd still recommend sanitizing what you can of the data, particularly anything sensitive or customer-related. Can you leave an email address and we'll contact you with details?

[2020-09-29 19:27] somnaderi commented on #2055
@howardlopez Sure! Email is my github name at Google's most popular email domain. :)

[2020-09-30 00:59] julianosilva94 commented on #2057
this problem occurred with me using aws sdk php version `3.113.0`

[2020-10-01 15:10] franksl opened #2110 "PHP notice: undefined index in CredentialProvider.php"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-10-01 17:00] SamRemis commented on #2110
@franksl Thank you for reporting the issue- that line is part of a function that gets cached credentials from the single sign on service from the CLI.  I'm looking into it today.  If you arent using the credentials or config file to authenticate, the easiest way to bypass this for now would be to set the 'use_aws_shared_config_files' config parameter to false.

[2020-10-01 20:25] SamRemis commented on #2110
@franksl We just merged a PR that should have fixed the issue.  Any further details you could give me would still be helpful so that I can make sure I understand what caused the error to occur and that there isn't a bug with the sso credential provider.

Thank you,
-Sam

[2020-10-02 09:15] franksl commented on #2110
Hi Sam,
I had a better look at our code because I didn't remember a couple of details.
We are using the Assume Role policy to retrieve aws credentials and we also store these credentials in a redis instance, so basically when creating an instance of S3Client we pass an instance of \Aws\DoctrineCacheAdapter as the 'credentials' parameter. I noticed that something has changed since we developed this

[2020-10-02 16:48] SamRemis commented on #2110
@franksl
Hi Frank,
Thanks, it does!  That makes a lot more sense now, I was concerned you were trying to used cached SSO credentials and it was somehow being stored to a different profile, but it doesn't seem like that's the case.  I appreciate the extra info.
-Sam

[2020-10-02 16:48] #2110 closed

[2020-10-03 21:28] ajredniwja commented on #2105
Hey @mobaid-eg thanks for reaching out to us with your issue, I am little confused here but the way to install composer:

1. Install PHP, https://linuxize.com/post/install-php-7-on-centos-7/
2. Install composer, https://linuxize.com/post/how-to-install-and-use-composer-on-centos-7/
3. Install PHP SDK, https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/getting-started_installation.html

Can

[2020-10-03 23:09] ajredniwja commented on #2106
Hey @samueleastdev Thanks for opening this issue, I was able to reproduce the issue and can confirm it is the issue with the PHP SDK, as I was able to run everything fine with the JS SDK, while I am not sure about the root cause, I will have someone from the team work on it ASAP.

[2020-10-05 12:34] samueleastdev commented on #2106
Great thanks for the update ;)

[2020-10-05 20:01] crwh05 opened #2113 "Error copying files over 5GB"
Localhost and Windows server issues resulting in files larger than 5GB not being copied using S3Client::copy()

Localhost:

`"Error executing \"CopyObject\" on \"https:\/\/example.s3.eu-west-1.amazonaws.com\/...\"; AWS HTTP error: Client error: `PUT https:\/\/example.s3.eu-west-1.amazonaws.com\/...` resulted in a `400 Bad Request` response:\n<Error><Code>InvalidRequest<\/Code><Message>The specifie

[2020-10-06 00:12] #2095 closed

[2020-10-06 21:09] yusufdemir2012 opened #2116 "Could not resolve host: dynamodb.us-east-2.amazonaws.com"
`GuzzleHttp\Exception\ConnectException: cURL error 6: Could not resolve host: dynamodb.us-east-2.amazonaws.com (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) in /home/dilkvhx97ol8/public_html/RCPPRO/DynamoDB/GuzzleHttp/Handler/CurlFactory.php:200
Stack trace:
#0 /home/dilkvhx97ol8/public_html/RCPPRO/DynamoDB/GuzzleHttp/Handler/CurlFactory.php(155): GuzzleHttp\Handler\CurlFactory::createR

[2020-10-07 07:00] ajredniwja commented on #2113
Hey @crwh05, thanks for opening this issue, can you please share the code that you are using?

[2020-10-07 07:02] ajredniwja commented on #2116
Hey @yusufdemir2012 thanks for opening this issue, would you be able to share the code for minimal repro?

[2020-10-07 07:26] yusufdemir2012 commented on #2116
Of course. But first of all I just want to mention, I use[ this wrapper](https://github.com/pluginscart/dynamodb-php) for DynamoDB communication.

**Describe**
In the game I developed in Unity3D, I use DynamoDB to keep users data. Users make requests to the php file on the web server. Php processes those requests and communicates with DynamoDB. Currently, about 30 thousand players are saving their

[2020-10-07 08:32] crwh05 commented on #2113
Hi @ajredniwja

Thanks for having a look at this.

Here is the code that is being run in the console, not in a hosted server like apache:

[code]

Here is the IAM policy:
[code]

Files <5GB copy perfectly, anything >5GB fails with this error:
https://kantan-dev.s3-eu-west-1.amazonaws.com/5.7GB+file+copy+error.txt

Windows server hosted on an EC2 instance running:

- AWS SDK PHP: 3.154
- PHP: 7.2.3

[2020-10-07 08:45] crwh05 commented on #2113
[php.ini-windows-server.txt](https://github.com/aws/aws-sdk-php/files/5339256/php.ini-windows-server.txt)
[5.7GB file copy error.txt](https://github.com/aws/aws-sdk-php/files/5339257/5.7GB.file.copy.error.txt)
Copying files here for history for the issue, the hosted files will be removed once this issue is resolved.

[2020-10-07 20:36] dtbarne opened #2118 "PHP DynamoDB DAX Client"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS SDK for PHP?**
3.147.4

**Version of P

[2020-10-07 21:31] shw26y10 opened #2119 "I"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-10-08 17:07] howardlopez commented on #2057
Thanks for your insight, everyone!

@fischaz This does look a case of the thrown exceptions changing in Guzzle 7, and we've added a fix in #2117 that will go out in the next release.

Let us know if anyone still has any issues.

[2020-10-08 17:07] #2057 closed

[2020-10-08 17:34] zzgab commented on #2057
@howardlopez Thanks!

[2020-10-08 18:38] richard015ar commented on #1931
It worked for me:
[code]
More info: https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_provider.html#env-provider

[2020-10-08 19:50] SamRemis commented on #2119
Hi @shw26y10,

Thanks for your issue report.  There's no information above, which we need to move forward.  If you're experiencing a technical issue with the PHP SDK, please submit a new issue or edit above and re-open this one.

[2020-10-08 19:50] #2119 closed

[2020-10-10 11:22] qwertynik opened #2123 "Fetching the statusCode of request for method calls on S3 Client"
Confirm by changing [ ] to [x] below:
- [x ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AW

[2020-10-12 22:20] howardlopez commented on #2055
@somnaderi For both the successful and failure log files that you sent, what's the size of the uploaded asset in question?

[2020-10-12 22:51] somnaderi commented on #2055
@howardlopez The successful copy has 5 files, the 2 big ones are ~73GB and ~3GB.

There are 2 failed transfers in the failure log, but both for the same delivery (I originally thought this was 2 separate transfers, but it's actually the same with 2 failures before it "succeeds"). That delivery has 2 files -- ~68GB and ~2GB.

The text to look for for the start of the delivery in the logs are:

even

[2020-10-13 22:43] ajredniwja commented on #2106
Hey @samueleastdev I did a little bit of digging and found out that I ran my tests on 3.155.0 which gave me results that you are getting, the feature was introduced by Transcribe service in `3.155.2` as it can be seen [here](https://github.com/aws/aws-sdk-php/blob/master/CHANGELOG.md#31552---2020-09-24).

So upgrading your SDK to any version to 3.155.2 or after that should solve the problem. I hav

[2020-10-13 22:43] #2106 closed

[2020-10-14 00:26] samueleastdev commented on #2106
Updated and working thanks for your time looking into this ;)

[2020-10-15 00:12] #2105 closed

[2020-10-15 03:10] ajredniwja commented on #2116
@yusufdemir2012 I am actually not able to reproduce this, do you see similar errors with other endpoints as well?

If you may try us-west-2 or some other region?

[2020-10-15 06:06] ajredniwja commented on #2123
Hey @qwertynik thanks for opening the issue, I did something like:

[code]

Which works, so you can try that.

Closing this issue now, please reach out if that doesn't solve your problem.

[2020-10-15 06:06] #2123 closed

[2020-10-15 21:03] ajredniwja commented on #2113
I ran this locally and was not able to reproduce it, I will discuss this with the team what might be wrong.

[2020-10-15 21:10] ajredniwja commented on #2113
Might be not related to the SDK but curl, can you try updating it to the latest version?

[2020-10-16 10:16] theqdev commented on #926
I know these are sold old issues, but they still pop up in Google.

FYI: DynamoDb and Marshaler does now allow empty strings by default anymore.

https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables/

https://github.com/aws/aws-sdk-php/commit/68c1058c31da76c889f39af36daf69b246eec2a8

[2020-10-16 10:16] theqdev commented on #920
I know these are some old issues, but they still pop up in Google.

FYI: DynamoDb and Marshaler does now allow empty strings by default.

https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables/

https://github.com/aws/aws-sdk-php/commit/68c1058c31da76c889f39af36daf69b246eec2a8

[2020-10-16 22:58] howardlopez commented on #2055
@somnaderi Thanks for that data.

So far looking through the logs has not yielded too much insight. I haven't seen any evidence that it's the handling of the UploadPart 500 errors that's triggering the strange part behavior, though it's possible it's just not evident in the logs. As an idle thought regarding the incorrect number of parts, the `MultipartCopy` uses the source size to determine that

[2020-10-17 00:03] somnaderi commented on #2055
@howardlopez Thanks for continuing to look into this!

Assuming the question is that the ContentLength metadata of an S3 object can be changed through some external function, I'm fairly sure this wouldn't be happening in this case as we take a headObject() + ContentLength just before the copy to trigger an "overall" retry logic (not the exception handling retry -- instead, when the copy "succeeds"

[2020-10-19 16:24] #2097 closed

[2020-10-19 16:25] SamRemis commented on #2097
Hi @nesar77,
Just wanted to update you- we have merged a PR that should fix this issue.  Please let us know if you continue to experience it.
-Sam

[2020-10-19 16:27] SamRemis commented on #2092
Hi again @ianmjones ,
We just merged the PR that should fix this issue, please let us know if you continue to experience it, or if you have any further questions
-Sam

[2020-10-19 16:27] #2092 closed

[2020-10-19 18:05] #1982 closed

[2020-10-20 08:06] satishjunghareewebcore opened #2126 "Region must be a valid RFC host label."
I am passing credentials to env file and installed this sdk still getting following issue.

AWS_ACCESS_KEY_ID=************
AWS_SECRET_ACCESS_KEY=************
AWS_DEFAULT_REGION=************
AWS_BUCKET=************

**Version of AWS SDK for PHP?**
Example: "league/flysystem-aws-s3-v3": "^1.0"

**Version of PHP?**
7.4.10

"message": "Region must be a valid RFC host label.",
"exception": "Aws\Excepti

[2020-10-20 09:21] #2126 closed

[2020-10-20 14:08] SamRemis commented on #2118
@dtbarne Sorry, I'm not sure I understand the question.  What do you mean by 'communicate' with the clusters?  What sort of info are you looking to send/receive?  If you're looking to communicate with the host, could you just use Ec2Client to communicate with the EC2 instance that the DAX client is hosted on?

[2020-10-20 15:46] dtbarne commented on #2118
There doesn't seem to be any PHP SDK for it like there are for JS, Java, .NET, etc.

http://dax-sdk.s3-website-us-west-2.amazonaws.com/

[2020-10-20 17:25] SamRemis commented on #2118
@dtbarne That makes more sense.  No, we have not implemented that yet.  We will look into implementing it, so I will mark this as a feature request.

[2020-10-27 00:13] #2116 closed

[2020-10-27 14:21] SamRemis commented on #2055
Hi @somnaderi,
Just wanted to give you an update- one of the other SDKs had a similar problem a year or two ago and sent me the internal documentation on it.  It's not a perfect solution, but it will at least properly abort a failed download so it is easier to catch and retry it.  Thank you so much for your patience on this and working with us- I'll get started on a patch as soon as possible; hope

[2020-10-27 17:19] somnaderi commented on #2055
Hi @SamRemis
Thank you (and @howardlopez ) for continuing to look into it! :)

Yeah, I guess there's 2 goals to a fix -- 1) that the process shouldn't claim to be successful when it's really produced a bad copy, and 2) retrying a failed copy results in an efficient determination and retrying of just the failed parts.

It sounds like the patch you're describing would accomplish at least 1, would it

[2020-10-29 09:08] razielvamp666 opened #2130 "[BUG] [MultipartCopy] Can't copy file with「?」mark"
`src/S3/MultipartCopy.php` → `fetchSourceMetadata()`

[code]

If `?` in `$key`, it's determined as query separator.
And `$key` is splitted to `$key` and `$query`.
But how can I copy file with source key is `path/ololo?imnotaquery.jpg` (Yes, it is possible to create file with ? mark in S3)

So characters after `?` can be both file name and query parameters

Why here `Key` is reassigned? Is there an

[2020-10-30 22:31] jacobnoah opened #2133 "Unable to find Classes"
Hi, I am building a website from Scratch and hosting it using GoDaddy. I was able to use AWS SES to send email and this worked on the localhost, however when I upload to GoDaddy, it gives me this error when I run the file: Fatal error: Uncaught Error: Class 'aws\Ses\SesClient' not found in ... I am not sure why exactly, but I could not find any information online when I looked for it. I also made

[2020-10-30 22:32] jacobnoah commented on #2133
Also I tried using Aws\Ses\SesClient but to no avail so I changed it to lowercase to match my folder structure just incase it was case sensitive.

[2020-10-30 22:40] jacobnoah commented on #2133
I apologize. It has been made aware to me that I did not finish uploading the entire aws sdk to GoDaddy when I thought I had. Case Closed.

[2020-10-30 22:40] #2133 closed

[2020-10-31 16:22] OldRustyDayton commented on #2126
Was this ever answered/solved? I am also experiencing this issue.

[2020-11-02 11:22] dael opened #2134 "filterArn parameter not applied in Personalize getRecommendations"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-11-03 00:08] #2113 closed

[2020-11-04 19:22] gageleblanc opened #2138 "Ec2 DescribeInstances results coming from incorrect account when using SDK, but not CLI."
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-11-04 19:32] SamRemis commented on #2130
Hi @razielvamp666,
Thanks for your issue- a '?' character is currently one of the characters that is considered to require special handling by the sdk and should be URL encoded for the time being.  We will look into removing that line- if the headObject call works with query params, we should be able to remove it and fix the issue.

[2020-11-05 15:04] gageleblanc commented on #2138
I also want to note that I was able to achieve the expected functionality by using the python library boto3.

[2020-11-05 20:17] adam-ut commented on #1982
Confirmed that this is now functioning as intended. Thanks, @SamRemis and @diehlaws!

[2020-11-06 04:20] ajredniwja commented on #2138
Hey @gageleblanc thanks for opening this issue, can you please share the PHP code that you are using to reproduce the issue?

[2020-11-06 04:26] ajredniwja commented on #2134
Hey @dael I am not sure if I understand your question correctly, are you concluding that the `filterArn` parameter that you use is not working as expected?

Can you share the reproduction code?

[2020-11-06 06:09] dael commented on #2134
Yes. I have requested including filterArn but Received a response with no filter applied.

The screenshot above is a debug report for the request.

In the log, filterArn exists in params,
but filterArn is missing in request body.

My code;
[code]

[2020-11-06 16:34] SamRemis commented on #1982
@adam-ut  Thanks for following up!  Glad it's working for you now

[2020-11-08 15:54] tristankelley commented on #1955
HI @avirdz - I am working on some similar code and I'm stuck on how to get the connectionId. Would you mind share your code snippet on how you are retrieving it? Thanks.

[2020-11-10 08:16] avirdz commented on #1955
You can get the connection Id via Header.

`$connectionId = $request->header('X-Connection-Id');`

[2020-11-12 03:49] ajredniwja commented on #2134
Hey @dael Sorry for the delay here, I was not able to reproduce the problem as I get:

[code]

This is because the feature to [use the filters](https://github.com/aws/aws-sdk-php/blob/master/CHANGELOG.md#31402---2020-06-05) was introduced in PHP SDK version: `3.140` and you are on `3.130`, bumping up the SDK version should fix the problem, I have tested it.

Closing this issue now, please reach ou

[2020-11-12 03:49] #2134 closed

[2020-11-12 15:51] omadoyeabraham opened #2140 "Error executing "CompleteMultipartUpload" operation resulting in `400 Bad request` response"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [*] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [*] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-11-12 20:52] ajredniwja commented on #2140
Hey @omadoyeabraham thanks for opening this issue, I was not able to reproduce this issue

The code I used:
[code]

The file size I used was around 500MB.

Output:
[code]

With php -v: `PHP 7.4.10`

Can you make sure you have the correct SDK version?

[2020-11-13 09:35] azaddeveloper opened #2141 "changeResourceRecordSets - >SenderAccessDeniedUser Error"
I  am getting this error. When I am creating a subdomain

Error executing "ChangeResourceRecordSets" on "https://route53.amazonaws.com/2013-04-01/hostedzone/Z38NKT9BP95V3O/rrset/"; AWS HTTP error: Client error: `POST https://route53.amazonaws.com/2013-04-01/hostedzone/Z38NKT9BP95V3O/rrset/` resulted in a `403 Forbidden` response: Sender SenderAccessDeniedUser: arn:aws:iam::457910130955:user/ is no

[2020-11-14 00:34] martinbutt commented on #2118
@SamRemis does this mean there is no way currently to connect to a DAX cluster from PHP?

[2020-11-14 17:50] azaddeveloper commented on #2141
@ajorg-aws  Can you please help me to solve this issue?

[2020-11-16 05:12] djlithin opened #2142 "AWS SNS sending text messgae is not working with same credentials in multiple servers."
Confirm by changing [ ] to [x] below:
- [x ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AW

[2020-11-16 15:03] matjazmav opened #2143 "Test error handling of S3Client uploadAsync method"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-11-16 16:18] ajorg-aws commented on #2141
Hello!

I'm not on the team that supports this SDK, but I'll ensure that they take a look.

[2020-11-17 07:34] afrowuk opened #2144 "GuzzleHandler only handles Exceptions and not Errors"
**Describe the bug**
We've seen this error a few times when our servers have a temporary loss of connectivity. It seems that this is resulting in a runtime error that the GuzzleHandler class can't handle, which is masking the underlying runtime error.

This is the error:
`Argument 1 passed to Aws\Handler\GuzzleV6\GuzzleHandler::Aws\Handler\GuzzleV6\{closure}() must be an instance of Exception, ins

[2020-11-17 20:30] #1518 closed

[2020-11-18 04:00] ajredniwja commented on #2142
Hey @djlithin, thanks for opening this issue, while I was not able to reproduce the issue, is it possible got you to share the complete stack trace?

[2020-11-18 04:52] djlithin commented on #2142
Please see the complete stack trace.

An uncaught Exception was encountered
Type: Aws\Sns\Exception\SnsException

Message: Error executing "Publish" on "https://sns.ap-south-1.amazonaws.com"; AWS HTTP error: cURL error 7: (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://sns.ap-south-1.amazonaws.com

Filename: /usr/share/nginx/html/serviceFinderAPI/vendor/aws/aws-sdk-php/src/Wra

[2020-11-18 13:35] ktecho commented on #2073
@diehlaws In august I tested your code in several ways and I was unable to make it work. I retaked it a few days ago and it worked at the first try. So either you fixed something or I was doing something wrong. So I close this issue. Thanks.

[2020-11-18 13:35] #2073 closed

[2020-11-19 00:08] #2138 closed

[2020-11-20 04:08] ajredniwja commented on #2142
Hey @djlithin this does seem to be a configuration error on the other instance, can you make sure that there is no environment variables set incorrectly or any other configurational changes?

Can you also check if you are able to call any service at all, for example you can try calling `S3.ListBuckets`.

[2020-11-20 05:25] ajredniwja commented on #2141
@azaddeveloper thanks for the issue, this error occurs when you don't have the correct permissions, can you check the user has correct permissions?

[2020-11-22 21:26] xclydes commented on #1851
I was experiencing this same issue. It turned out to be a combination of insufficient IAM permissions and the bucket's public access settings need to be adjusted.
![image](https://user-images.githubusercontent.com/1414724/99917615-5fb5a100-2cdf-11eb-8b7b-9b809c8404d5.png)
![image](https://user-images.githubusercontent.com/1414724/99917579-2ed56c00-2cdf-11eb-82bd-86d07046d5e3.png)

These settings c

[2020-11-23 07:59] ktecho opened #2145 "getCostAndUsage filtering by tag is not working for some tags"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar issues](https:

[2020-11-23 11:31] ichtrojan opened #2146 "Email Tracking"
Confirm by changing [ ] to [x] below:
- [x ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AW

[2020-11-24 00:09] webciter opened #2148 "MediaConvert Json Validation returns HTTP 400"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-11-24 00:09] #2140 closed

[2020-11-24 09:13] gzai opened #2149 "Cognito Refresh Token ExpiresIn not same with setting refresh token expiration"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2020-11-25 02:01] ajredniwja commented on #2144
Hey @afrowuk thanks for opening this issue, I will have someone from the team work on it according to the priority decided by the team, you are welcomed to open a PR for team to review if you'd like to work on it.

[2020-11-25 02:37] ajredniwja commented on #2143
Hey @matjazmav thanks for opening this issue, created a PR for this which should fix this issue.

[2020-11-25 02:44] ajredniwja commented on #2146
Hey @ichtrojan, thanks for opening this issue, I don't know if I understand your question.

Are you looking for information on [SES](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-using-sdk-php.html)?

[2020-11-25 02:54] ajredniwja commented on #2148
Hey @webciter, thanks for opening this issue can you please share the complete code that you are using and what API you are talking about?

[2020-11-25 07:03] qwertynik commented on #2123
Thanks, @ajredniwja this worked. If possible, would be great if there is a method available on the ResultClass to get generic information like this.

[2020-11-25 08:21] ktecho commented on #2145
@diehlaws Hey Alex. Could you give a look to this issue? It's similar to #2073 that I reported some months ago. It got fixed, but using a new tag it's happening again. Could it be that new tags don't appear in the Cost Explorer until the end of the month or something like that? Thanks!

[2020-11-25 09:00] matjazmav commented on #2143
Great news, thank you :)

[2020-11-25 15:28] SamRemis commented on #2145
Hi @ktecho,
Thank you for bringing this to our attention; Alex hasn't been with amazon for a few months, he moved on to the next opportunity. @ajredniwja, could you look at this?
I took a glance at it and it appears to be an issue with the service, not the SDK, but this will need more invesigation to confirm

[2020-11-25 17:41] ktecho commented on #2145
@SamRemis This time I didn't test it with the CLI, but it seems the problem is the same one. It should be time-related. It's like it doesn't work at first, but then at some point it starts working for that tag. But if you put a new tag, doesn't work again.

[2020-11-25 19:33] webciter commented on #2148
this bug was fixed with upgrading the package

[2020-11-25 19:33] #2148 closed

[2020-11-26 12:08] dinohrascanec opened #2151 "Including only specific functions if minio into aws-autoloader"
Currently we're using AWS-PHP-SDK for communication with min.io server. We have installed it in traditional way by downloading and unzipping file & including it with `require_once '../aws-autoloader.php';` In aws-autoloader.php there's about 1000 requires. What we need is only 2 functions of Aws\S3\S3Client: getObject() and putObject(). Is there a way to include only those 2 functions instead of w

[2020-11-27 05:49] Muchenja commented on #2144
We've also been getting the same error with our Moodle site - Exception - Argument 1 passed to Aws\Handler\GuzzleV6\GuzzleHandler::Aws\Handler\GuzzleV6\{closure}() must be an instance of Exception, instance of TypeError given, called in [dirroot]/local/aws/sdk/GuzzleHttp/Promise/Promise.php on line 203More information about this error

[2020-11-27 09:16] damiencriado opened #2152 "PHP 8.0: use of deprecated openssl_pkey_free() function"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-11-27 12:51] mheki opened #2154 "Env vars not accessible via getenv()"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar issues](https:

[2020-11-27 19:36] #2149 closed

[2020-11-28 02:14] jviney commented on #1979
I converted the Python version linked above to Ruby. Here is the gist in case anyone finds it useful.

https://gist.github.com/jviney/5fd0fab96cd70d5d46853f052be4744c

This could be translated to PHP as well quite easily.

[2020-11-30 22:53] #2143 closed

[2020-12-01 11:07] ichtrojan commented on #2146
Yes, SES email tracking, does this package support it?

[2020-12-02 00:10] #2142 closed

[2020-12-02 01:48] ajredniwja commented on #2146
Yes, SES service is supported by the PHP SDK please check:

https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-using-sdk-php.html

https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/ses-examples.html

[2020-12-02 17:51] shiftedreality commented on #2144
Gettings the same for https://github.com/magento/magento2

[2020-12-03 14:52] winterstefan opened #2158 "InvalidSignatureException with signed request to Selling Partner API"
Hi there,

my current use-case is to create an Amazon Application which accesses seller information (like inventory reports) via the newly launched Selling Partner API. For that, I'm using a PHP backend and try signing the SP-API requests with this AWS SDK.
Indeed I'm aware that this repository neither supports topics for SP-API, Amazon Application development and such. But I'm at a very point, wh

[2020-12-03 21:06] SamRemis commented on #2055
Hi @somnaderi,

I apologize for the delay in responding; we just merged a PR ([#2139](https://github.com/aws/aws-sdk-php/pull/2139)) that should have it at least throw a proper error when the files are corrupted.  If this works, we can look at adding the automatic retries

-Sam

[2020-12-03 21:20] SamRemis commented on #2158
Hi @winterstefan,
Within the signRequest method, we remove certain headers from the request headers before we sign, so that shouldn't be the issue.  Did it work when you tried presigning the request instead?  Or have you tried another using the CLI or another SDK and seen the same results?

[2020-12-04 01:29] #2152 closed

[2020-12-04 08:13] razielvamp666 opened #2159 "[BUG?] Does S3 MulipartUploader closes source streams properly?"
I need to
1. temporarily mount partition at Linux
2. write file in this partition
3. upload file to S3
4. unmount partition

**Problem** → after creating `$uploader = new Aws\S3\MultipartUploader(...)` I don't able to unmount partition inside running script because of `target is busy`.

I added code fragment for better understanding of process:

[code]

Output is

[code]
So we can see that opened

[2020-12-04 08:33] ktecho commented on #2145
Hi @ajredniwja Have you seen something related with this issue? Thanks!

[2020-12-04 08:35] ajredniwja commented on #2145
Hey @ktecho, apologies for late reply here, I see that PHP SDK doesn't have any customizations around this service which means it is most likely a service API issue, I have reached out to the respective team, will have an update for you soon.

[2020-12-04 08:53] Artem2710 opened #2160 "How I can get size of folder in my bucket?"
**Version of AWS SDK for PHP?**
v3.24.6

**Version of PHP (`php -v`)?**
7.1

**Describe the question**
How I can get size of folder in my bucket?

I use this code
`$s3 = new S3Client([
            'version' => $aws['version'],
            'region'  => $aws['region'],
            'credentials' => $credentials
        ]);`

`$results = $s3->getPaginator('ListObjects', [
                'Bucket' => $

[2020-12-04 09:37] winterstefan commented on #2158
Hello @SamRemis,

thank you for reaching out. Glad to hear, that additional headers should not be a problem. What do you mean by `presigning` the request?

At first, I tried to follow [the SP-API guidelines](https://github.com/amzn/selling-partner-api-docs/blob/main/guides/developer-guide/SellingPartnerApiDeveloperGuide.md#step-4-create-and-sign-your-request) for signing a request by hand. But wit

[2020-12-04 20:14] somnaderi commented on #2055
Hi @SamRemis,

This is great, thank you! :) We've already got the retry logic in place, too, so hopefully just updating this will mean we won't get the corrupted files at the destination.

In looking at this, was any insight gleaned as to what was causing the errant partNumbers in the first place? Given how no one else appears to have chimed in about this being an issue, I'm figuring a) not a lot

[2020-12-04 20:33] SamRemis commented on #2160
Hi @Artem2710,
There isn't an API call for that since S3 doesn't have a true folder hierarchy ([you can read more here](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/using-folders.html) )

However, this can be easily accomplished by listing all of the objects in your folder and adding them up like so
[code]

Hope that helps!
-Sam

[2020-12-04 20:37] SamRemis commented on #2160
I also have set this issue to closing-soon, so it will close in 4 days if you don't have any further questions

[2020-12-04 22:35] ajredniwja commented on #2154
Hey @mheki thanks for opening this issue, I see you have a PR related to the issue, thanks for that, I will have someone from the team review it.

[2020-12-04 22:39] ajredniwja commented on #2151
Thanks for submitting this feature request, this would need a major version change, tracking it as a feature request.

[2020-12-05 02:08] ktecho commented on #2145
@ajredniwja Thanks a lot, I'll keep awaiting your reply.

[2020-12-07 18:20] deminy opened #2162 "Class EcsCredentialProvider Doesn't Support Customized Guzzle Handler"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar issues](https:

[2020-12-08 00:11] #2141 closed

[2020-12-08 03:45] ajredniwja commented on #2160
Closing this issue now, please reach out if you have any other questions.

[2020-12-08 03:45] #2160 closed

[2020-12-08 22:32] ajredniwja commented on #2162
Hey @dminy, thanks for opening this issue, trying to understand the issue a bit more here so you are trying to make sure whether the credential provider uses your guzzle handler or not?

Looking at the code it seems your custom handler must be used elsewhere.

[2020-12-08 22:40] deminy commented on #2162
Ideally, the customized handler should be used by package `aws/aws-sdk-php` when using ECS credentials to call AWS APIs, just like how class `\Aws\AwsClient` does.

The bug had been verified in our backend microservices, and we had made a patch to make it work for us. I'm reporting a bug, and hoping that you guys could make a proper fix for it (although the patch I included did work in our case).

[2020-12-09 16:02] tobiashaase opened #2164 "AssumeRoleWithWebIdentityCredentialProvider: Missing or locked AWS_WEB_IDENTITY_TOKEN_FILE"
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers
- [x] I've searched for [previous similar issues](https:

[2020-12-09 17:33] winterstefan commented on #2158
Soo, after debugging day after day, I finally got the missing part. So thanks @SamRemis for reaching out initially, I'll close this issue and leave a quick note for others who might run into that problem.

In order to have the signature being valid, I need to **assume the API role** via AWS SDK thus getting actual credentials back. That was not mentioned in the docs I've read on the Selling Partne

[2020-12-09 17:33] #2158 closed

[2020-12-09 20:31] SamRemis commented on #2158
@winterstefan thank you so much for following up and posting the solution, and I apologize for not being able to get it to you faster.  I have been in contact with the selling partner team, and will ask them to update their docs so that other customers don't experience this issue.

[2020-12-09 21:36] SamRemis commented on #2144
@afrowuk Sorry for the delay, we have a PR in now that should fix the issue :) the error will still be packed inside a RejectedException because it originated in a promise, but it gracefully catches the error

[2020-12-10 07:49] winterstefan commented on #2158
Awesome, thanks for reaching out to the SP team. 👍

[2020-12-10 16:17] pablomoreno61 commented on #2140
I have the exact same issue with version 3.158.21

[2020-12-10 16:25] SamRemis commented on #2028
Closing this issue since most of the discussion is in #2055

[2020-12-10 16:25] #2028 closed

[2020-12-10 16:29] pablomoreno61 opened #2165 "An exception occurred while completing a multipart upload: Error executing "CompleteMultipartUpload""
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-12-10 21:17] SamRemis commented on #2164
hi @tobiashaase,

Thank you for bringing this to our attention- we can definitely create a PR to check the type and length of the contents :)

I will close this issue when it is merged

-Sam

[2020-12-14 00:11] #2146 closed

[2020-12-14 22:25] cuppett opened #2171 "Process Provider does not honor 'use_aws_shared_config_files' boolean similar to ini provider"
It appears there is a conditional against the iniProvider here:

https://github.com/aws/aws-sdk-php/blob/5b59db8d5d3d5ce1e93b8c4de5908437cc2eb40f/src/Credentials/CredentialProvider.php#L89-L103

And it is not honored in the same way when evaluating for processes:

https://github.com/aws/aws-sdk-php/blob/5b59db8d5d3d5ce1e93b8c4de5908437cc2eb40f/src/Credentials/CredentialProvider.php#L108-L112

It i

[2020-12-16 08:02] developerphp702 commented on #981
SesException in WrappedHttpHandler.php line 152:
Error executing "SendRawEmail" on "https://email.us-east-1.amazonaws.com"; AWS HTTP error: Client error: 400 InvalidParameterValue (client): Illegal address - <ErrorResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
<Error>
<Type>Sender</Type>
<Code>InvalidParameterValue</Code>
<Message>Illegal address</Message>
</Error>
<RequestId>24e8a149-

[2020-12-16 18:14] SamRemis commented on #1753
@liubo1985 This should have been fixed by the above pull requests, can you confirm that you haven't seen it since?  I will set this to auto-close; it will close in a few days if you don't respond.

[2020-12-16 20:44] SamRemis commented on #2165
Hi @pablomoreno61,
Thank you for your issue- unfortunately, I haven't been able to reproduce it yet.  I followed your steps to reproduce it, but every time, it seems to have succeeded.  Is there anything that may have been left out here?  Maybe special characters in the filename or bucket_name?  If not, could you provide us with a debug log so that we can take a look at the XML that is sent to S3?

[2020-12-16 21:19] SamRemis commented on #2171
Hi @cuppett,
The PR looks good to me and I can merge soon- I just want to make sure your original issue with the Process Provider has been resolved, since merging it will close this issue

[2020-12-16 21:57] cuppett commented on #2171
Yes. That will resolve it. It puts all the logic which considers ~/.aws/credentials and ~/.aws/config underneath the 'use_aws_shared_config_files' boolean check.

[2020-12-17 04:19] SamRemis commented on #2055
@somnaderi I'm not sure, since this issue was also seen in the C# repository, I'm thinking it probably has to do with a race condition or something service side.  It would seem odd if it showed up in multiple SDKs and had to do with our custom logic only.

[2020-12-17 04:21] SamRemis commented on #2154
For future reference: the PR was merged and had to be reverted because of tests failing on certain set ups.  The PR changes were recreated by PR #2176.  Thank you to @mheki and your team for being so responsive and for your contribution to the SDK.

[2020-12-17 04:21] #2154 closed

[2020-12-17 04:37] SamRemis commented on #2144
This was fixed by PR #2163 - if you're experiencing this issue in a version greater than 3.171.0, please reopen this issue or make a new one

[2020-12-17 04:37] #2144 closed

[2020-12-17 10:09] jmcgrory commented on #2027
I agree with @j13k here, the [documentation](https://docs.aws.amazon.com/sns/latest/dg/sns-verify-signature-of-message.html) is possibly intentionally vague to allow for changes in the API?

From the above it seems that this would be available in "**the** AWS SDK for PHP" (or even in multiple "use one of"). However it appears to now be in a separate/dedicated ancilliary package.

[2020-12-17 18:42] #2171 closed

[2020-12-17 19:32] ajredniwja commented on #2145
Hey @ktecho, can you please provide with `accountId` and `resourceId`?

[2020-12-18 05:06] SamRemis commented on #2164
Hi @tobiashaase,
Just wanted to give you an update.  I discussed it with some of the other SDKs, and determined the best solution is to implement retries in a way similar to the retries for using the credential file, but with a separate retry counter.  I will make the changes and update the PR ASAP.

[2020-12-18 07:48] tobiashaase commented on #2164
OK - thank you SamRemis.

[2020-12-18 07:54] pablomoreno61 commented on #2165
Hi @SamRemis!

Thanks for you answer! filename is a random string and bucketname follow a pattern like this one "prefix-bucketname", so I guess there is nothing wrong in their names. How can I get the full XML response? Because an exception is thrown and I can only get the error message/code.

[2020-12-18 21:58] #2164 closed

[2020-12-21 00:14] #1753 closed

[2020-12-22 13:52] pablomoreno61 commented on #2165
I've zipped the content of the uploaded file and the issue disappeared.

[2020-12-22 18:17] SamRemis commented on #2165
But it still doesn't work without the file being zipped?

[2020-12-23 07:40] pablomoreno61 commented on #2165
Yep, it didnt work without the zip. The file was a csv comma separated...I guess it was breaking somehow the xml format, but I cannot confirm it.

[2020-12-24 04:00] somnaderi commented on #2055
@SamRemis That would make sense, though I'm curious -- I guess I thought the AWS CLI would also perform its function via the same APIs. Is this not the case? The CLI seems to be fairly robust, as we have to see an issue with large files being corrupted during copies since switching over. It still presents problems for our architecture, so the SDK would still be ideal, but still -- it does work.

W

[2020-12-24 04:48] jenky commented on #1979
Just in case if you guys still need it. I converted Capless Warrant Python code to PHP.

https://gist.github.com/jenky/a4465f73adf90206b3e98c3d36a3be4f

It supports only `USER_SRP_AUTH` flow, feel free to edit or make any changes you deem necessary.

[2020-12-26 00:28] PhilETaylor commented on #808
Hmmm..  v3.171.6 today....

[code]

114Mb - gulp.

[2020-12-26 11:25] Nyholm commented on #808
I know that this is a super old issue. I also know that there is a lot of reasons why this has not been fixed yet.

If you are one of the people really need a small AWS client, there is an AsyncAws organisation that (among other things) address this issue. See https://github.com/async-aws/aws

Normally I would never promote a competing library like this, especially one that I've created. However,

[2020-12-26 12:36] barryvdh commented on #808
Is it not possible to generate the required data (endpoints) in a compact PHP format, with a build script for each release, and exclude the data folders?

[2020-12-28 09:39] nesar77 opened #2178 "AssumeRole using STSClient"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2020-12-28 22:50] SamRemis commented on #2178
Hi @nesar77,
You're seeing this because the default provider chain is attempting to get the credentials to provide to your $__stsclient.  You can skip checking for the config and credentials provider in the default chain by setting use_aws_shared_config_files to false in the credentials provider:
[code]

Note that the above will also disable checking for credentials in the config file.
If you woul

[2020-12-29 08:23] nesar77 commented on #2178
Hi @SamRemis,

thanks a lot for your suggestion but I'm still getting the same error.

`{"error":"Cannot read credentials from \/.aws\/credentials"}
-> Entering step init, name 'idempotency_auto_fill'
---------------------------------------------------

  command was set to array(3) {
    ["instance"]=>
    string(32) "000000007d9f40fc000000005f5ec550"
    ["name"]=>
    string(10) "AssumeRole"

[2020-12-29 16:59] SamRemis commented on #808
Hi everyone,
This is on the roadmap for the next version of the SDK.  There is quite a bit that goes into automatically generating the smaller packages and their upkeep.  We are looking into scalable and reliable ways to do that, but the current infrastructure of the SDK makes this difficult.
-Sam

[2020-12-29 17:04] SamRemis commented on #2178
@nesar77, would you be able to post the code that you're using to initialize the clients?  That way I could potentially reproduce it on my local- I haven't been able to yet.

[2020-12-29 19:47] nesar77 commented on #2178
Hi @SamRemis ,

[this](https://pastebin.com/0jdCJmcJ) is my code

[2020-12-30 17:59] SamRemis commented on #2178
Hi @nesar77,
I think I see what's going on.  You're using 'profile', which calls the _apply_profile function.  This should have been caught by the SDK when you set use_aws_shared_config_files to false since they are incompatible.  It tries to read data from that profile you specified in the credentials file, which right now doesn't exist.  The profile in the client constructor is used to read from

[2020-12-31 15:15] SamRemis commented on #2165
I'm wondering if it was something specifically with the values you were using- I have tried with both downloaded and generated CSV files and have been unable to replicate it.

[2021-01-03 10:47] matthewsuan commented on #1920
I also have this error. artisan commands that interacts with aws services works fine whereas fpm fails.
we are using fargate

[2021-01-04 08:59] nesar77 commented on #2178
Hi @SamRemis ,

working on your suggestion.
I'd like to assume the role used by a pod in a eks cluster: initializing an s3 client does not allow me to check if the assumed role is correct.

Using the following code returns an access denied error
`                self::$__client = new S3Client([
                    'version'     => '2006-03-01',
                    'region'      => 'eu-west-1',

[2021-01-04 13:49] SamRemis commented on #2178
@nesar77 It appears that the detailed error link is broken.  The access denied error suggests you are using invalid credentials.  The fact that it occurs in the WrappedHttpHandler on line 97 tells me that your request was sent successfully but rejected by the service (so you didn't have access to STS or S3 with the credentials given).

As for as the `use_aws_shared_config_files` input parameter go

[2021-01-04 14:38] nesar77 commented on #2178
Hi @SamRemis ,
well.. using aws cli on pod I'm able to upload or delete an object in the bucket; I've tested the policies and they work fine.
So I'm able to use the s3 bucket using console but not by code.

Here is a new hastebin [url](https://hastebin.com/iwebinojar.yaml)  .
Thank you so much for your time.

[2021-01-04 16:26] SamRemis commented on #2178
I'm not sure what's going on since I don't have access to the source to see how you're using the credentials.  To me, it just looks like something is blocked using the bucket policy or bad credentials.  If you post the code for your client constructors, I may be able to see more.  It's likely that your CLI is using different credentials than your SDK.

The stack trace just says that the request we

[2021-01-04 17:38] SamRemis commented on #2159
@razielvamp666 Good catch, it does look like we have some unclosed resources.  So far, I've only been able to pinpoint and close one of them- the one that actually points to the open file; in your case, I believe it's #157.  I am working on finding the others and will see if they are able to be closed as well.  It looks like they're mostly opened when initiating the upload.

I will also discuss ad

[2021-01-04 19:13] SamRemis commented on #2159
@razielvamp666 On closer inspection, most of the stream references you're seeing are made by guzzle automatically.  Like the AWS SDK's code, the garbage collector will close the stream and remove the reference when the __destruct() method is called on the resource.  I think this is normal behavior for PHP.  How are you attempting to unmount it and what is the output of LSOF?

[2021-01-04 23:30] SamRemis commented on #1862
Hi @gitotoro,
Sorry for the delay in response.  Are you still confused by the response above?  If I'm reading correctly, the 200 code in $result['@metadata']['statusCode'] appears to be saying that the message was successfully processed by Pinpoint but the 'Throttled' came about as a failed delivery.  Since they reported a success back too the SDK, it is not retried.

If you think this should be r

[2021-01-05 00:09] SamRemis commented on #2093
Hi @tyharg,
Sorry for the delay.  Are you still seeing this issue?  The first thing I would suggest is upgrading to a more recent version of the SDK- we are currently on 3.170, and it is likely that one of the timeout and retry updates would have fixed your issue.

If that isn't an option, could you set `'debug' => true ` in the client constructor and post the output?  That may give us some idea o

[2021-01-05 00:23] #2165 closed

[2021-01-05 00:36] razielvamp commented on #2159
That was something like

[code]

Sorry, I'm working on another project now, so don't able to rerun code and reproduce behaviour

[2021-01-05 06:10] razielvamp666 commented on #2159
That was something like

[code]

Sorry, I'm working on another project now, so don't able to rerun code and reproduce behaviour

So is there any way to call `__destruct()` method? As I understanding I can't access guzzle resources directly from my code , so looks like there is needed some `destruct()` or `close()` public method.

[2021-01-05 09:16] nesar77 commented on #2178
This is the constructor:
`    public function __construct($accessKey = null, $secretKey = null, $useSSL = false, $endpoint = null, $bucketname = null, $basepath = null, $region = 'eu-west-1')
    {
        if (($accessKey !== null && $accessKey !== "")  && ($secretKey !== null && $secretKey !== "")) {
            self::setAuth($accessKey, $secretKey);
            self::$__accessKey = $accessKey;

[2021-01-05 10:57] Keitio opened #2180 "PostObjectV4 possible bug"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2021-01-05 11:23] gitotoro commented on #1862
I'm sorry I left the ticket.
I have already written a program that rebuilds and resends commands for partial THROTTLED messages.
But I don't think it's a good idea because it's much more lines of code and more complex than normal command execution.

Since it is sent by batch processing, the execution time does not matter much. Most importantly, all messages are sent in some way.
If possible, it wo

[2021-01-05 12:41] SamRemis commented on #2180
Hi @Keitio,
Thank you for bringing this to our attention.  I could use a bit more context to help me figure out what is going on here.  Do you have any more data on the error returned?  When I use the same code, I get the following error:
[code]

Is that the same issue you're seeing, or is it a different 400 error?

[2021-01-05 13:13] Keitio commented on #2180
Thanks for the quick reply
I'm sorry I totally forgot to include the returned error, here it is, it's been this exact return code for a few weeks now (it had been a 500 for a few days before)
[code]

[2021-01-05 18:43] SamRemis commented on #2180
@Keitio, are you using unicode for the file names/metadata by any chance?  I got it to break by using some foreign characters in the file name, but so far have been unable to reproduce your exact issue.

[2021-01-07 09:45] 9allenzhao commented on #1091
Whether to use Supervisor, please check the configuration file，
this is path： /etc/supervisor/conf.d/laravel-worker.conf

[2021-01-07 12:41] ktecho commented on #2145
Hi @ajredniwja  I can provide the account id (231967442015), but I didn't save the resourceId. I don't know if you can use the InstanceId provided in the logs to search for it.

[2021-01-08 04:47] SamRemis commented on #2130
@razielvamp666 Sorry for the delay; I tried a few ways but couldn't get this to work reliably.  Since there isn't documentation stating otherwise, the SDK can't rely on parsing the query string server side and should remove the query parameters from the key.  Since query params don't have any strict requirements, we also can't reliably know where the query starts and the bucket ends and have to ta

[2021-01-08 05:07] SamRemis commented on #2178
The S3 client constructor that is in the else statement could be why you're still seeing it attempting to access those files.  Either specify a credentials provider there, or add the use_aws_shared_config_files = false and let it go through the default chain without it.
Consider putting a breakpoint after your constructor as well and double checking that you're using the same credentials that work

[2021-01-08 05:14] SamRemis commented on #2077
@YouYII Sorry for the delay in updating this; we added this with PR #2161

[2021-01-08 05:30] SamRemis commented on #1862
@gitotoro I think it would be possible; there may also be a way to implement a custom retry strategy that always waits a second before re-sending the request.  Since the throttling is done per second, this could work too depending on the timing of the requests being sent.  I will discuss it with the team and get back to you

[2021-01-08 08:17] oikosengineering commented on #2178
Hi @SamRemis ,
I've commented the else statement and the ctor is:
`
public function __construct($accessKey = null, $secretKey = null, $useSSL = false, $endpoint = null, $bucketname = null, $basepath = null, $region = 'eu-west-1')
    {
        // if (($accessKey !== null && $accessKey !== "")  && ($secretKey !== null && $secretKey !== "")) {
        //     self::setAuth($accessKey, $secretKey);

[2021-01-09 09:54] razielvamp666 commented on #2130
I see.

But I think you should allow to choose where is file name and where is query string. Because "?"-bug in current version is a big limitation.
Adding optional `query` parameter to constructor may be good solution. If `query` is `null` the logic is the same, in other case code relies filename and query separation on user parameters in constructor.

[2021-01-10 05:21] alexwai commented on #1959
Any update on this issue

[2021-01-11 09:26] SANiMirrorOfLight commented on #1979
It is a good idea to use the BigInteger here, I have used the DC Math function in my lib. But anyway both variants, your and my, do not work in my case because I have negative` $intValue2` and `bcpowmod` cannot work correctly with a negative value. In the case of using the BigInteger library, I received positive ` $intValue2` but the `s` value is calculated with the wrong value in this case.

This

[2021-01-11 09:33] jenky commented on #1979
It worked for me, maybe you could try to debug the calculated a, A, s, u values from both `python` and `php` to see the differences.

[2021-01-11 18:25] SamRemis commented on #2130
@razielvamp666, that's a good idea, I will talk to the team about implementing that.

[2021-01-12 14:56] nedt opened #2182 "The S3 StreamWrapper fails to correctly show a directory named '/' in readdir()"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2021-01-13 00:37] #2077 closed

[2021-01-13 10:40] faizanktk opened #2183 "On signin it give this error User pool client {id} does not exist"
Fatal error: Uncaught exception 'Aws\CognitoIdentityProvider\Exception\CognitoIdentityProviderException' with message 'Error executing "AdminInitiateAuth" on "https://cognito-idp.us-west-2.amazonaws.com"; AWS HTTP error: Client error: `POST https://cognito-idp.us-west-2.amazonaws.com` resulted in a `400 Bad Request` response: {"__type":"ResourceNotFoundException","message":"User pool client {id} d

[2021-01-14 00:50] ajredniwja commented on #2182
Hey @nedt, thanks for opening this issue, I am not sure if I understand your question correctly, [the document](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-key-guidelines) mentions that "There is no hierarchy of subbuckets or subfolders. However, you can infer logical hierarchy using key name prefixes and delimiters as the Amazon S3 console does."

Moreover I was not

[2021-01-14 00:55] ajredniwja commented on #2183
Hey @faizanktk, thanks for opening the issue, looking at the issue it seems to be a client side issue, you can use console to make sure you have the resources that you are trying to access.

If it is still a problem to help you further, I would need more information so please fill out the issue template [found here](https://github.com/aws/aws-sdk-php/issues/new?assignees=&labels=needs-triage%2C+bu

[2021-01-14 05:13] faizanktk commented on #2183
@ajredniwja thanks for reply. It client side issue. I remove credential and use profile => default
Thanks

[2021-01-14 05:13] #2183 closed

[2021-01-14 16:40] SamRemis commented on #2130
Hi @razielvamp666,
The PR is done and will be merged ASAP.  The new parameter is 'copy_file_path', and is the filename itself and not the query.  So for instance, to copy a file with the name 'the-fil?e-name' and a version id of 'xyz', you would call:
[code]

[2021-01-16 07:21] nedt commented on #2182
The logic to infer a hierarchy is done in the StorageWrapper already by implementing `opendir()` & `readdir()` methods. I do know it's done by search for a Prefix and grouping with a / Delim. Furthermore the StreamWrapper creates empty objects with a / suffix to simulate directories. That's all clear.

Maybe one reason why it can't always be replicated is me having here a StorageGRID from Netapp w

[2021-01-17 00:39] #2180 closed

[2021-01-19 16:34] curtiscarlson commented on #1959
@alexwai
I found a sync package on packagist and updated it to meet my needs.

[2021-01-26 08:26] ajredniwja commented on #2182
Hey @nedt apologies for late reply here, we would appreciate a PR if you want to work on it, otherwise the team can take it up according to the priority.

[2021-01-28 06:03] healthlynked opened #2185 "PresignedURL AWSIGNV4"
**Is your feature request related to a problem? Please describe.**
There is no method to create a PresignedURL for sending message to connections in AWS API Gateway

**Describe the solution you'd like**
A method in the AWSMaintenaceAPI Class to get presigned URL. A similar method exists in Python and GO SDK.
A clear and concise description of what you want to happen.

[2021-01-29 18:28] #1436 closed

[2021-02-01 16:57] nmeegama commented on #859
I have tried the code in
https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/s3-transfer.html
still the sample code on that page does not work

[2021-02-01 17:37] SamRemis commented on #859
Hi all, while there are ways to achieve true async in PHP, the most reliable libraries to do so require a minimum of PHP 7.0, which would break backward compatibility because we support 5.5+.  We are looking to implement this in the next major version of the SDK.

[2021-02-03 01:59] aldenw opened #2189 "Duplicated scheme "http" in Uri by the S3EndpointMiddleware"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2021-02-03 08:25] ipf commented on #2189
Same here. The SDK works fine in 3.172.4

[2021-02-03 08:28] halaei commented on #2189
I think it is related to my error too.
[code]
I downgrade to version 3.172.0

[2021-02-03 08:46] AymericPlanche commented on #2189
Same error here too.

` "Error executing "PutObject" on "//http://object-storage:9000/";`

[2021-02-03 12:24] sonersivri opened #2190 "3.173.0 AWS HTTP error: cURL error 6: Could not resolve host: https; Unknown error (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2021-02-03 13:05] Sammyjo20 commented on #2190
Yep, I am are getting this issue too. Running PHP 7.4 - Using second latest version is fine.

[2021-02-03 13:15] Jarrid commented on #2190
I can confirm the same thing.  It's appending the // ahead of the https://, so it looks like http://https://

[2021-02-03 13:22] toddpadwick commented on #2190
We just experienced this issue as well causing the images on our site to break. We solved it temporarily by pinning the version back to `3.171.20`. But it would be good to know when it's solved and at what version so we can open it up for updates again.

[2021-02-03 13:28] aldenw commented on #2190
This is the same as this issue here, https://github.com/aws/aws-sdk-php/issues/2189

[2021-02-03 18:08] SamRemis commented on #2189
@aldenw This is certainly an issue, and thanks for bringing it to my attention.  I'll take a look right away

[2021-02-03 18:09] SamRemis commented on #2190
Since this is the same issue as the other, I'm closing this one, but taking a look right now and will have a fix pushed out ASAP.  If you'd like to follow, please look at #2189

[2021-02-03 18:09] #2190 closed

[2021-02-03 18:17] aldenw commented on #2189
@SamRemis I took a shot at making a pull request for it [here](https://github.com/aws/aws-sdk-php/pull/2191).

[2021-02-03 18:19] SamRemis commented on #2189
@aldenw Thank you very much, that will help me get this public much more quickly :) will go review it now

[2021-02-03 18:40] SamRemis commented on #2189
The fix from @aldenw is merged, and appears to have fixed the issue from my machine.  Can anyone else confirm the fix is out to them as well?

[2021-02-03 19:42] zachary opened #2192 "Does it support SES V4?"
Does the latest version support SES V4?
if yes, how to use it?
Thanks

[2021-02-03 20:37] stevepop commented on #2189
@SamRemis This has not fixed the issue for me. What I have now is the bucket name before the endpoint.

[2021-02-03 20:41] SamRemis commented on #2189
@stevepop Thank you, I will look into that  too and try to get another urgent fix out

[2021-02-03 21:13] SamRemis commented on #2189
@stevepop, just reverted a feature that I believe caused the issue- could you let me know if it's fixed for you?

[2021-02-03 21:14] stevepop commented on #2189
@SamRemis I will try it now and let you know 👍

[2021-02-03 21:24] mikedodd commented on #2189
Version 3.173.0 has the problem
Version **3.173.1** seems to be working correctly

[2021-02-03 21:27] SamRemis commented on #2189
@mikedodd Thank you for the confirmation

[2021-02-03 21:29] stevepop commented on #2189
@SamRemis Unfortunately 3.173.1 does not work for me. Just to let you know that I am using `league/flysystem-aws-s3-v3` which depends on this library. I will try 3.173.0 and see if that works.

[2021-02-03 21:30] SamRemis commented on #2189
@stevepop, please try one of the confirmed earlier versions - 3.172.*

[2021-02-03 21:32] stevepop commented on #2189
@SamRemis I can confirm that downgrading to **3.172.4** works for me.

[2021-02-03 22:00] SamRemis commented on #2189
@stevepop, depending on how you're integrating the SDK with your project, the fix earlier may not have worked due to the version number.  The fix I pushed was in 3.173.2

[2021-02-03 22:04] stevepop commented on #2189
@SamRemis I am happy to try that version and feed you back. I can always go back to the version that works if this one doesn't.

[2021-02-03 22:05] NickJorens commented on #2189
@SamRemis I can confirm that this fixes the issue for me.

[2021-02-03 22:06] SamRemis commented on #2189
@stevepop it's alright, just wanted to let you know.  I'm working on a more permanent solution for tomorrow's release

[2021-02-03 22:06] stevepop commented on #2189
@SamRemis I can confirm that 3.173.2 works! 👍

[2021-02-03 22:07] SamRemis commented on #2189
@NickJorens and @stevepop, Thank you so much for your help in confirming the issue is resolved

[2021-02-03 22:08] pleaz commented on #2189
3.173.4 works fine too
just set in your composer json
`"aws/aws-sdk-php": "3.172.*"`

[2021-02-03 22:08] NickJorens commented on #2189
Thanks for getting this resolved so quickly!

[2021-02-04 13:34] aliozkan commented on #2189
I can confirm that this issue has resolved at 3.173.2. Thanks!

[2021-02-04 15:37] alepee commented on #2126
Same here. @OldRustyDayton did you get an answer ?

[2021-02-05 11:17] ktecho opened #2198 "S3 getObjectAsync not really async"
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers

**Describe the question**

I'm using AWS PHP SDK to t

[2021-02-08 12:01] manishram commented on #556
@ahmadpriatama That was very helpful. Thanks a lot.

Here is an example of how I implemented it, in case someone finds helpful:

[code]

[2021-02-10 04:06] #2189 closed

[2021-02-10 20:23] ajredniwja commented on #2192
Hey @zachary thanks for opening this issue, not sure if I understand the question correctly.

How to use SES: https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-using-sdk-php.html

And the SDK uses Signature version 4 by default for all the requests.

To specify it manually you can use the code mentioned here.

https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_configuration.

[2021-02-10 20:34] ajredniwja commented on #2185
Hey @healthlynked, thanks for opening this, I am not sure if I understand the question correctly, can you link to pages from Python or Go SDK for the function?

[2021-02-11 05:20] nuttyroll commented on #2185
Hi, Please refer to this url

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/apigatewaymanagementapi.html#ApiGatewayManagementApi.Client.generate_presigned_url

[2021-02-18 12:36] gsudhanshu opened #2197 "Issue integrating with chime-sdk-js"
I am using laravel server application to createMeeting using amazon chime client and createAttendee

I am passing these responses to meetingSessionConfiguration using aws-chime-sdk-js and getting the following error:

https://github.com/aws/amazon-chime-sdk-js/issues/1052

No error when using aws-java-sdk instead of aws-php-sdk

[2021-02-20 05:16] timstrawbridge commented on #2126
Are actually using a region?
e.g:
us-west-2
us-east-1

[2021-02-22 00:10] #2192 closed

[2021-02-22 13:47] SamRemis commented on #2197
Hi @gsudhanshu,
It looks to me like you managed to fix your issue, but I will contact the team who owns the linked repo to determine how our SDK differs from the java SDK in its behavior.  If a fix is viable without making a breaking change, we will publish it ASAP.  I will leave this issue open for now while I investigate

[2021-02-22 18:09] gsudhanshu commented on #2197
Thanks, That would be great

On Mon, 22 Feb, 2021, 7:17 pm SamRemis, <notifications@github.com> wrote:

[2021-02-23 02:59] SamRemis commented on #2126
Here's a list of some of the valid regions which may be helpful for anyone looking at this thread: https://docs.aws.amazon.com/general/latest/gr/rande.html

The SDK takes in the format as a string, and should be in the value in the "code" column of the chart

[2021-03-01 15:54] joelclermont opened #2200 "What's the oldest safe version of the AWS SDK for the upcoming Mar 23 CA migration for S3/Cloudfront?"
Confirm by changing [ ] to [x] below:
- [X] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2021-03-02 00:34] SamRemis commented on #2198
@ktecho Unfortunately, the PHP SDK doesn't currently support true async calls. We have had customers integrate with async HTTP handlers with some success, but you have to set retries to 1 so that it doesn't have the exponential jitter and cause delays.

Since this is a commonly requested feature, we are looking at integrating it into the next version of the SDK.

[2021-03-02 13:04] ktecho commented on #2198
@SamRemis can you recommend me an alternative? I've seen AsyncAws, but I don't know if it has the same problems...

[2021-03-04 09:23] louiswol94 opened #2201 "Access Key in constructor not being used as the X-Amz-Credential (SignatureDoesNotMatch)"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2021-03-04 19:42] louiswol94 commented on #2201
Sample: https://geekabyte-testing.co.za/awstests/index.php

[2021-03-05 09:52] barasimumatik commented on #808
I'm using Docker, and want to minimize the container size as much as possible, so I figured a temporary solution would be to delete unnecessary files after composer has installed them. Is there a safe way to determine which files can be deleted if you know which services you need?

[2021-03-05 10:55] kbca commented on #929
My God, I just faced exactly the same experience and couldn't find anywhere in documentation, anything related to this. When I was debugging before and after the putObject, and saw it was closing the resource from a different scope, and didn't show in any part of the documentation about this behavior, it got me pissed off. At least I can see now it was not only me. I'll implement the solution sugg

[2021-03-05 17:37] SamRemis commented on #929
@kbca Thank you for bringing this back to our attention, I will try to get a note added to the PutObject call ASAP.

[2021-03-05 18:26] SamRemis commented on #2200
@joelclermont, backwards compatibility is one of our top priorities, and I haven't been notified of any affects that the migration will have on any of the SDKs.  You should still be safe with any version you were using before the migration going forward.

I have followed the instructions [here](https://aws.amazon.com/blogs/storage/reminder-amazon-s3-and-amazon-cloudfront-migrating-service-certific

[2021-03-05 18:26] #2200 closed

[2021-03-05 18:35] SamRemis commented on #929
I have added a note to the docs with this PR: https://github.com/aws/aws-sdk-php/pull/2202.  It should show up in the docs with the next release by Tuesday.

[2021-03-05 18:59] SamRemis commented on #808
@barasimumatik that's a tough question, but I'll do my best to answer.  It would be nearly impossible for me to test this without a more specific use case, so this may not apply to your personal container.

- The easiest thing to delete would be the test folder.  Since they're test files, I'd say it's safe to delete the entire test folder assuming that you never run them.
- You could probably dele

[2021-03-08 08:03] barasimumatik commented on #808
@SamRemis wow, thank you very much! The SDK dwarfs any other composer dependency I have, and accounts for about 15% of the whole container image right now, so it will definitely help 😄

[2021-03-08 12:55] stof commented on #808
note that if you install from dist, the `.gitattributes` file already takes care of removing all useless files (tests, `build/`, `data/*/*.json`, etc...).
Soon your side, you are mostly left with removing the clients you don't use.

[2021-03-09 06:05] xuetaofeng opened #2203 "how to add custom params in s3 presigned url"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for answers

**Version of AWS

[2021-03-10 23:14] aradhell commented on #2063
Hello, having similar issue, if I remove credentials, it is trying to use nodeInstanceRole instead of service account. Any suggestions? Thanks!

[2021-03-10 23:25] aradhell opened #2204 "sdk doesn't use service account"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/aws-sdk-php/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-php-sdk) for

[2021-03-10 23:51] ajredniwja commented on #2204
Hey @aradhell thanks for opening this issue, what method are you using to provide the credentials?

[Here](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials.html) are a few ways to how to provide credential for whatever method you are using, can you make sure you are following the steps given for your preferred method?

[2021-03-11 10:04] aradhell commented on #2204
Hi @ajredniwja , I found out that it was a k8s issue. If you dont provide credentials it is using service account from pod as expected. Thanks!

[2021-03-11 10:04] #2204 closed

[2021-03-12 19:42] ajredniwja commented on #2203
Hi @xuetaofeng thanks for opening this issue, you can use the middleware to add custom params, an example on how to use the middleware can be found [here](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_handlers-and-middleware.html).

For this particular case:
[code]

I'd close this issue now, please reach out if you have any other questions.